@charset "UTF-8";
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GangwonEdu_OTFBoldA";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
}

.main_header {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10000;
}

.main_header .gnb ul li {
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  position: relative;
}

.main_header .gnb ul li a {
  display: block;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.main_header .gnb ul li.active a {
  color: #000;
}

.main_header .gnb ul li:nth-child(2).active a::before {
  content: "🌱";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  z-index: 10000;
}

.main_header .gnb ul li:nth-child(3).active a::before {
  content: "🧑🏻‍💻";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  z-index: 10000;
}

.main_header .gnb ul li:nth-child(4).active a::before {
  content: "🖥";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  z-index: 10000;
}

.main_header .gnb ul li:nth-child(5).active a::before {
  content: "📱";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  z-index: 10000;
}

.main_header .gnb ul li:nth-child(6).active a::before {
  content: "📞";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  z-index: 10000;
}

.section {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #a9d2ab 0%, #54a36e 100%);
  overflow: hidden;
  text-align: center;
}

.section h2 {
  font-size: 32px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.section #stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 603px 20px #FFF , 1696px 648px #FFF , 453px 956px #FFF , 1711px 767px #FFF , 1931px 889px #FFF , 1817px 100px #FFF , 1135px 799px #FFF , 201px 493px #FFF , 1015px 1440px #FFF , 614px 1440px #FFF , 1114px 1307px #FFF , 23px 1575px #FFF , 1128px 1877px #FFF , 7px 1875px #FFF , 581px 1075px #FFF , 315px 126px #FFF , 566px 894px #FFF , 1844px 1305px #FFF , 1304px 824px #FFF , 356px 1998px #FFF , 1629px 1997px #FFF , 1228px 1149px #FFF , 976px 1914px #FFF , 1589px 1373px #FFF , 1432px 1065px #FFF , 932px 809px #FFF , 1782px 1690px #FFF , 975px 451px #FFF , 370px 995px #FFF , 835px 1830px #FFF , 437px 1509px #FFF , 1358px 1343px #FFF , 1349px 678px #FFF , 31px 1828px #FFF , 1305px 645px #FFF , 1449px 49px #FFF , 956px 1605px #FFF , 1259px 1299px #FFF , 1446px 1404px #FFF , 66px 432px #FFF , 1454px 309px #FFF , 633px 679px #FFF , 1004px 1341px #FFF , 1973px 287px #FFF , 300px 1220px #FFF , 425px 848px #FFF , 540px 515px #FFF , 1763px 1689px #FFF , 1867px 1658px #FFF , 1837px 1060px #FFF , 1635px 12px #FFF , 1236px 512px #FFF , 1485px 411px #FFF , 1849px 1269px #FFF , 1819px 1661px #FFF , 1066px 1334px #FFF , 1093px 1643px #FFF , 521px 1488px #FFF , 1849px 1038px #FFF , 1425px 1272px #FFF , 389px 763px #FFF , 1517px 5px #FFF , 1364px 1331px #FFF , 1663px 24px #FFF , 1937px 1324px #FFF , 1422px 1020px #FFF , 1244px 1483px #FFF , 912px 631px #FFF , 1579px 1350px #FFF , 618px 408px #FFF , 1744px 1073px #FFF , 771px 162px #FFF , 1994px 884px #FFF , 60px 1379px #FFF , 1762px 524px #FFF , 79px 837px #FFF , 1664px 366px #FFF , 967px 883px #FFF , 1526px 1370px #FFF , 1221px 519px #FFF , 1609px 916px #FFF , 191px 1218px #FFF , 789px 1583px #FFF , 1746px 346px #FFF , 1224px 355px #FFF , 1377px 777px #FFF , 1592px 197px #FFF , 1942px 1378px #FFF , 1913px 1545px #FFF , 1852px 1926px #FFF , 1822px 905px #FFF , 780px 1954px #FFF , 1473px 1301px #FFF , 1117px 1824px #FFF , 1835px 746px #FFF , 241px 984px #FFF , 1981px 882px #FFF , 1486px 1781px #FFF , 249px 268px #FFF , 213px 460px #FFF , 1128px 183px #FFF , 1573px 633px #FFF , 10px 400px #FFF , 805px 475px #FFF , 997px 1776px #FFF , 1976px 1099px #FFF , 1963px 48px #FFF , 1698px 1803px #FFF , 359px 776px #FFF , 1786px 1628px #FFF , 1193px 42px #FFF , 985px 203px #FFF , 824px 459px #FFF , 1845px 478px #FFF , 1998px 484px #FFF , 791px 1212px #FFF , 489px 621px #FFF , 1758px 597px #FFF , 759px 326px #FFF , 1595px 1531px #FFF , 1790px 1588px #FFF , 1456px 1212px #FFF , 978px 240px #FFF , 588px 278px #FFF , 390px 1835px #FFF , 684px 1105px #FFF , 1207px 1308px #FFF , 360px 1917px #FFF , 167px 146px #FFF , 354px 1283px #FFF , 1386px 1037px #FFF , 816px 1865px #FFF , 239px 1080px #FFF , 916px 1630px #FFF , 1508px 692px #FFF , 518px 509px #FFF , 388px 1994px #FFF , 158px 1676px #FFF , 267px 1254px #FFF , 509px 804px #FFF , 463px 73px #FFF , 1220px 1734px #FFF , 519px 1525px #FFF , 606px 375px #FFF , 1729px 1879px #FFF , 1868px 1854px #FFF , 1489px 1161px #FFF , 597px 722px #FFF , 1058px 1989px #FFF , 1045px 1673px #FFF , 479px 1895px #FFF , 557px 989px #FFF , 1495px 1429px #FFF , 1512px 54px #FFF , 652px 361px #FFF , 1471px 1119px #FFF , 1378px 222px #FFF , 317px 1930px #FFF , 1629px 1277px #FFF , 923px 263px #FFF , 859px 781px #FFF , 80px 79px #FFF , 1471px 569px #FFF , 1309px 624px #FFF , 1895px 1743px #FFF , 383px 1480px #FFF , 332px 1393px #FFF , 687px 1765px #FFF , 1339px 388px #FFF , 1319px 1111px #FFF , 1967px 829px #FFF , 1935px 918px #FFF , 1361px 234px #FFF , 1828px 1425px #FFF , 1744px 239px #FFF , 1581px 627px #FFF , 1804px 1109px #FFF , 394px 1454px #FFF , 1597px 1821px #FFF , 766px 531px #FFF , 447px 1930px #FFF , 1154px 207px #FFF , 1987px 1273px #FFF , 648px 893px #FFF , 602px 1417px #FFF , 448px 378px #FFF , 129px 93px #FFF , 618px 1018px #FFF , 1867px 398px #FFF , 1442px 1406px #FFF , 489px 319px #FFF , 474px 1956px #FFF , 912px 123px #FFF , 221px 203px #FFF , 1496px 1190px #FFF , 1380px 1660px #FFF , 1382px 274px #FFF , 163px 432px #FFF , 327px 1812px #FFF , 303px 1188px #FFF , 1708px 108px #FFF , 851px 125px #FFF , 17px 652px #FFF , 1431px 449px #FFF , 955px 1025px #FFF , 1761px 981px #FFF , 1340px 913px #FFF , 1490px 256px #FFF , 1045px 1137px #FFF , 1785px 1757px #FFF , 568px 137px #FFF , 776px 184px #FFF , 861px 822px #FFF , 1325px 1926px #FFF , 1937px 975px #FFF , 484px 1437px #FFF , 850px 1356px #FFF , 1794px 1088px #FFF , 399px 484px #FFF , 1804px 1544px #FFF , 207px 1978px #FFF , 568px 99px #FFF , 486px 1188px #FFF , 607px 1752px #FFF , 596px 1688px #FFF , 1878px 688px #FFF , 1933px 386px #FFF , 839px 595px #FFF , 943px 537px #FFF , 182px 491px #FFF , 269px 144px #FFF , 1443px 1721px #FFF , 843px 457px #FFF , 376px 1007px #FFF , 312px 1028px #FFF , 147px 1004px #FFF , 339px 1510px #FFF , 1432px 466px #FFF , 1032px 1896px #FFF , 1380px 1018px #FFF , 1913px 1248px #FFF , 451px 1530px #FFF , 1063px 762px #FFF , 1907px 1957px #FFF , 730px 919px #FFF , 1482px 250px #FFF , 1573px 1121px #FFF , 428px 151px #FFF , 1769px 102px #FFF , 1188px 1880px #FFF , 17px 1354px #FFF , 6px 1567px #FFF , 1571px 1943px #FFF , 1209px 289px #FFF , 1388px 1784px #FFF , 1960px 357px #FFF , 1881px 1857px #FFF , 1403px 228px #FFF , 1241px 1782px #FFF , 1724px 895px #FFF , 936px 1341px #FFF , 1332px 1880px #FFF , 961px 1067px #FFF , 1521px 528px #FFF , 152px 386px #FFF , 645px 1753px #FFF , 1714px 1777px #FFF , 388px 355px #FFF , 863px 204px #FFF , 740px 1194px #FFF , 1503px 122px #FFF , 90px 1089px #FFF , 46px 839px #FFF , 667px 681px #FFF , 1175px 97px #FFF , 134px 59px #FFF , 1595px 501px #FFF , 269px 1573px #FFF , 906px 1213px #FFF , 1744px 341px #FFF , 1572px 936px #FFF , 399px 1442px #FFF , 276px 1446px #FFF , 694px 406px #FFF , 1460px 214px #FFF , 632px 1300px #FFF , 299px 661px #FFF , 118px 1380px #FFF , 732px 1970px #FFF , 48px 1163px #FFF , 1310px 665px #FFF , 988px 1439px #FFF , 1043px 1497px #FFF , 1315px 1325px #FFF , 1372px 1972px #FFF , 999px 996px #FFF , 1461px 1186px #FFF , 962px 1879px #FFF , 965px 544px #FFF , 1455px 773px #FFF , 1888px 417px #FFF , 1128px 353px #FFF , 139px 1041px #FFF , 212px 518px #FFF , 127px 1354px #FFF , 1271px 740px #FFF , 1069px 1652px #FFF , 1611px 1275px #FFF , 1424px 668px #FFF , 1631px 702px #FFF , 1101px 1658px #FFF , 708px 775px #FFF , 1599px 1447px #FFF , 1143px 344px #FFF , 817px 1184px #FFF , 153px 1115px #FFF , 551px 1562px #FFF , 1226px 1913px #FFF , 1440px 353px #FFF , 130px 1316px #FFF , 928px 1514px #FFF , 1431px 602px #FFF , 23px 1672px #FFF , 262px 1050px #FFF , 318px 1761px #FFF , 1587px 1732px #FFF , 1940px 196px #FFF , 146px 543px #FFF , 1935px 1435px #FFF , 1329px 517px #FFF , 235px 235px #FFF , 1591px 1712px #FFF , 23px 1115px #FFF , 351px 1936px #FFF , 931px 1058px #FFF , 773px 608px #FFF , 1039px 1748px #FFF , 1987px 1105px #FFF , 29px 661px #FFF , 1811px 1669px #FFF , 1248px 1097px #FFF , 509px 66px #FFF , 1203px 1362px #FFF , 1215px 566px #FFF , 489px 538px #FFF , 308px 1493px #FFF , 1945px 521px #FFF , 316px 467px #FFF , 158px 359px #FFF , 1331px 640px #FFF , 1322px 1168px #FFF , 1996px 1038px #FFF , 747px 1044px #FFF , 1893px 7px #FFF , 1012px 1645px #FFF , 1285px 983px #FFF , 1077px 712px #FFF , 342px 1387px #FFF , 13px 881px #FFF , 1018px 1151px #FFF , 252px 1588px #FFF , 324px 1064px #FFF , 395px 323px #FFF , 1269px 141px #FFF , 1913px 1682px #FFF , 562px 392px #FFF , 20px 1569px #FFF , 1318px 157px #FFF , 577px 736px #FFF , 1173px 646px #FFF , 1440px 1327px #FFF , 252px 1240px #FFF , 604px 269px #FFF , 1114px 1606px #FFF , 1278px 133px #FFF , 354px 394px #FFF , 707px 933px #FFF , 491px 689px #FFF , 1920px 935px #FFF , 1183px 1404px #FFF , 995px 1947px #FFF , 622px 584px #FFF , 493px 1343px #FFF , 1549px 1784px #FFF , 279px 466px #FFF , 1552px 1054px #FFF , 472px 1606px #FFF , 442px 1984px #FFF , 1563px 1293px #FFF , 1386px 1822px #FFF , 1222px 1792px #FFF , 368px 1907px #FFF , 1451px 182px #FFF , 1003px 1894px #FFF , 1085px 599px #FFF , 487px 272px #FFF , 622px 1308px #FFF , 1842px 1354px #FFF , 66px 814px #FFF , 1129px 663px #FFF , 1241px 1531px #FFF , 368px 851px #FFF , 398px 1164px #FFF , 33px 1526px #FFF , 705px 1072px #FFF , 726px 1333px #FFF , 1776px 1111px #FFF , 1821px 1138px #FFF , 186px 246px #FFF , 933px 364px #FFF , 1418px 1649px #FFF , 1590px 77px #FFF , 126px 73px #FFF , 156px 1378px #FFF , 1555px 1112px #FFF , 1538px 987px #FFF , 890px 354px #FFF , 88px 977px #FFF , 1035px 2000px #FFF , 893px 1472px #FFF , 1297px 559px #FFF , 1985px 820px #FFF , 122px 1499px #FFF , 546px 130px #FFF , 423px 47px #FFF , 1358px 1763px #FFF , 668px 1886px #FFF , 1398px 1785px #FFF , 1556px 1139px #FFF , 463px 1337px #FFF , 484px 526px #FFF , 1885px 384px #FFF , 212px 2px #FFF , 792px 1320px #FFF , 1563px 773px #FFF , 1199px 382px #FFF , 1364px 1179px #FFF , 1409px 1026px #FFF , 1804px 1998px #FFF , 131px 1300px #FFF , 830px 613px #FFF , 1927px 1967px #FFF , 564px 908px #FFF , 1737px 1875px #FFF , 567px 1268px #FFF , 1847px 860px #FFF , 1406px 416px #FFF , 189px 789px #FFF , 466px 274px #FFF , 376px 516px #FFF , 1659px 1508px #FFF , 1995px 955px #FFF , 1474px 1353px #FFF , 1277px 1005px #FFF , 1786px 1255px #FFF , 1366px 1755px #FFF , 217px 696px #FFF , 1962px 509px #FFF , 50px 34px #FFF , 429px 549px #FFF , 903px 260px #FFF , 1941px 1362px #FFF , 65px 750px #FFF , 383px 356px #FFF , 1561px 262px #FFF , 479px 944px #FFF , 1499px 490px #FFF , 1990px 264px #FFF , 1828px 876px #FFF , 1635px 376px #FFF , 1798px 108px #FFF , 191px 242px #FFF , 812px 1556px #FFF , 24px 1585px #FFF , 779px 1388px #FFF , 1833px 1725px #FFF , 1558px 1409px #FFF , 1212px 274px #FFF , 1316px 1707px #FFF , 507px 504px #FFF , 142px 1596px #FFF , 1711px 491px #FFF , 564px 1350px #FFF , 1795px 649px #FFF , 532px 706px #FFF , 1292px 794px #FFF , 169px 1285px #FFF , 1221px 1671px #FFF , 336px 685px #FFF , 949px 474px #FFF , 826px 948px #FFF , 635px 1327px #FFF , 1350px 1286px #FFF , 1056px 362px #FFF , 763px 561px #FFF , 1298px 1551px #FFF , 445px 1274px #FFF , 1679px 531px #FFF , 1125px 1235px #FFF , 128px 1911px #FFF , 1469px 1847px #FFF , 177px 788px #FFF , 1490px 751px #FFF , 790px 1438px #FFF , 432px 1767px #FFF , 109px 416px #FFF , 939px 994px #FFF , 1891px 768px #FFF , 292px 16px #FFF , 301px 107px #FFF , 1494px 1560px #FFF , 688px 1024px #FFF , 1503px 1462px #FFF , 988px 27px #FFF , 1666px 69px #FFF , 518px 1713px #FFF , 1764px 1721px #FFF , 1906px 1624px #FFF , 1044px 1367px #FFF , 536px 1983px #FFF , 1647px 151px #FFF , 1621px 327px #FFF , 269px 1665px #FFF , 394px 1022px #FFF , 178px 675px #FFF , 814px 1519px #FFF , 912px 29px #FFF , 1486px 117px #FFF , 1745px 1499px #FFF , 1889px 332px #FFF , 1212px 1602px #FFF , 1936px 361px #FFF , 128px 969px #FFF , 909px 459px #FFF , 413px 502px #FFF , 937px 306px #FFF , 176px 838px #FFF , 839px 393px #FFF , 181px 1343px #FFF , 1764px 604px #FFF , 629px 80px #FFF , 1838px 301px #FFF , 476px 1953px #FFF , 1134px 1178px #FFF , 1348px 1648px #FFF , 452px 1697px #FFF , 1285px 1482px #FFF , 480px 819px #FFF , 756px 790px #FFF , 1885px 43px #FFF , 719px 1539px #FFF , 747px 381px #FFF , 554px 1653px #FFF , 1292px 607px #FFF , 69px 36px #FFF , 1021px 624px #FFF , 1663px 1862px #FFF , 133px 1213px #FFF , 1564px 847px #FFF , 1702px 165px #FFF , 306px 1539px #FFF , 147px 418px #FFF , 453px 973px #FFF , 1125px 657px #FFF , 946px 1515px #FFF , 571px 404px #FFF , 849px 1678px #FFF , 701px 751px #FFF , 997px 432px #FFF , 1180px 1655px #FFF , 131px 1594px #FFF , 291px 1815px #FFF , 1234px 928px #FFF , 1122px 1823px #FFF , 1602px 1965px #FFF , 88px 1305px #FFF , 797px 247px #FFF , 1874px 1598px #FFF , 934px 1515px #FFF , 795px 1775px #FFF , 1487px 1319px #FFF , 933px 712px #FFF , 1384px 1600px #FFF , 696px 716px #FFF , 56px 1562px #FFF , 1467px 65px #FFF , 442px 1796px #FFF , 1094px 1414px #FFF , 1048px 315px #FFF , 1484px 869px #FFF , 1324px 1117px #FFF , 87px 1076px #FFF , 378px 532px #FFF , 454px 594px #FFF , 638px 1201px #FFF , 82px 734px #FFF , 1589px 845px #FFF , 601px 594px #FFF , 1059px 220px #FFF , 1902px 533px #FFF , 1815px 1914px #FFF , 797px 644px #FFF , 1321px 277px #FFF , 508px 733px #FFF , 397px 1079px #FFF , 1594px 1435px #FFF , 44px 1206px #FFF , 1121px 1252px #FFF , 1999px 990px #FFF , 1261px 790px #FFF , 955px 177px #FFF , 468px 676px #FFF , 1856px 1536px #FFF , 1795px 963px #FFF , 1627px 303px #FFF , 1098px 1975px #FFF , 1004px 1269px #FFF , 2000px 102px #FFF , 1185px 1617px #FFF , 1414px 1059px #FFF , 314px 988px #FFF , 579px 66px #FFF , 1487px 203px #FFF , 1324px 534px #FFF , 1556px 969px #FFF , 420px 1363px #FFF , 1116px 791px #FFF , 722px 1906px #FFF , 1530px 1214px #FFF , 1350px 1662px #FFF , 1247px 204px #FFF , 806px 959px #FFF , 1721px 1024px #FFF , 1370px 272px #FFF , 1657px 446px #FFF , 1670px 222px #FFF , 1292px 137px #FFF , 829px 1785px #FFF , 1017px 520px #FFF , 345px 1174px #FFF , 821px 1187px #FFF , 563px 1611px #FFF , 1451px 552px #FFF , 274px 1146px #FFF , 1274px 1309px #FFF , 1804px 1525px #FFF , 1421px 1838px #FFF , 1169px 422px #FFF , 663px 1809px #FFF , 910px 363px #FFF , 514px 291px #FFF , 822px 1355px #FFF , 163px 1971px #FFF , 1284px 664px #FFF , 82px 400px #FFF , 1415px 1612px #FFF , 1974px 1549px #FFF , 1949px 976px #FFF , 411px 1060px #FFF , 235px 542px #FFF , 1985px 1255px #FFF , 873px 456px #FFF , 1192px 1238px #FFF , 891px 697px #FFF , 7px 102px #FFF , 809px 1472px #FFF , 1639px 1413px #FFF , 858px 1256px #FFF , 409px 1270px #FFF , 895px 1832px #FFF , 948px 1973px #FFF , 1798px 376px #FFF , 1059px 1317px #FFF , 1970px 1629px #FFF , 1553px 1985px #FFF , 1818px 1297px #FFF , 139px 1902px #FFF , 866px 191px #FFF , 1891px 750px #FFF , 510px 330px #FFF , 1638px 479px #FFF , 125px 465px #FFF , 1024px 1059px #FFF , 923px 1542px #FFF , 522px 463px #FFF , 1603px 1092px #FFF , 154px 1605px #FFF , 1022px 1055px #FFF , 1121px 1017px #FFF , 611px 562px #FFF , 1527px 723px #FFF , 1033px 1365px #FFF , 1123px 642px #FFF , 1822px 7px #FFF , 157px 330px #FFF , 990px 1619px #FFF , 1314px 1252px #FFF , 1938px 1479px #FFF , 1367px 1834px #FFF , 885px 743px #FFF;
  animation: animStar 50s linear infinite;
}

.section #stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 603px 20px #FFF , 1696px 648px #FFF , 453px 956px #FFF , 1711px 767px #FFF , 1931px 889px #FFF , 1817px 100px #FFF , 1135px 799px #FFF , 201px 493px #FFF , 1015px 1440px #FFF , 614px 1440px #FFF , 1114px 1307px #FFF , 23px 1575px #FFF , 1128px 1877px #FFF , 7px 1875px #FFF , 581px 1075px #FFF , 315px 126px #FFF , 566px 894px #FFF , 1844px 1305px #FFF , 1304px 824px #FFF , 356px 1998px #FFF , 1629px 1997px #FFF , 1228px 1149px #FFF , 976px 1914px #FFF , 1589px 1373px #FFF , 1432px 1065px #FFF , 932px 809px #FFF , 1782px 1690px #FFF , 975px 451px #FFF , 370px 995px #FFF , 835px 1830px #FFF , 437px 1509px #FFF , 1358px 1343px #FFF , 1349px 678px #FFF , 31px 1828px #FFF , 1305px 645px #FFF , 1449px 49px #FFF , 956px 1605px #FFF , 1259px 1299px #FFF , 1446px 1404px #FFF , 66px 432px #FFF , 1454px 309px #FFF , 633px 679px #FFF , 1004px 1341px #FFF , 1973px 287px #FFF , 300px 1220px #FFF , 425px 848px #FFF , 540px 515px #FFF , 1763px 1689px #FFF , 1867px 1658px #FFF , 1837px 1060px #FFF , 1635px 12px #FFF , 1236px 512px #FFF , 1485px 411px #FFF , 1849px 1269px #FFF , 1819px 1661px #FFF , 1066px 1334px #FFF , 1093px 1643px #FFF , 521px 1488px #FFF , 1849px 1038px #FFF , 1425px 1272px #FFF , 389px 763px #FFF , 1517px 5px #FFF , 1364px 1331px #FFF , 1663px 24px #FFF , 1937px 1324px #FFF , 1422px 1020px #FFF , 1244px 1483px #FFF , 912px 631px #FFF , 1579px 1350px #FFF , 618px 408px #FFF , 1744px 1073px #FFF , 771px 162px #FFF , 1994px 884px #FFF , 60px 1379px #FFF , 1762px 524px #FFF , 79px 837px #FFF , 1664px 366px #FFF , 967px 883px #FFF , 1526px 1370px #FFF , 1221px 519px #FFF , 1609px 916px #FFF , 191px 1218px #FFF , 789px 1583px #FFF , 1746px 346px #FFF , 1224px 355px #FFF , 1377px 777px #FFF , 1592px 197px #FFF , 1942px 1378px #FFF , 1913px 1545px #FFF , 1852px 1926px #FFF , 1822px 905px #FFF , 780px 1954px #FFF , 1473px 1301px #FFF , 1117px 1824px #FFF , 1835px 746px #FFF , 241px 984px #FFF , 1981px 882px #FFF , 1486px 1781px #FFF , 249px 268px #FFF , 213px 460px #FFF , 1128px 183px #FFF , 1573px 633px #FFF , 10px 400px #FFF , 805px 475px #FFF , 997px 1776px #FFF , 1976px 1099px #FFF , 1963px 48px #FFF , 1698px 1803px #FFF , 359px 776px #FFF , 1786px 1628px #FFF , 1193px 42px #FFF , 985px 203px #FFF , 824px 459px #FFF , 1845px 478px #FFF , 1998px 484px #FFF , 791px 1212px #FFF , 489px 621px #FFF , 1758px 597px #FFF , 759px 326px #FFF , 1595px 1531px #FFF , 1790px 1588px #FFF , 1456px 1212px #FFF , 978px 240px #FFF , 588px 278px #FFF , 390px 1835px #FFF , 684px 1105px #FFF , 1207px 1308px #FFF , 360px 1917px #FFF , 167px 146px #FFF , 354px 1283px #FFF , 1386px 1037px #FFF , 816px 1865px #FFF , 239px 1080px #FFF , 916px 1630px #FFF , 1508px 692px #FFF , 518px 509px #FFF , 388px 1994px #FFF , 158px 1676px #FFF , 267px 1254px #FFF , 509px 804px #FFF , 463px 73px #FFF , 1220px 1734px #FFF , 519px 1525px #FFF , 606px 375px #FFF , 1729px 1879px #FFF , 1868px 1854px #FFF , 1489px 1161px #FFF , 597px 722px #FFF , 1058px 1989px #FFF , 1045px 1673px #FFF , 479px 1895px #FFF , 557px 989px #FFF , 1495px 1429px #FFF , 1512px 54px #FFF , 652px 361px #FFF , 1471px 1119px #FFF , 1378px 222px #FFF , 317px 1930px #FFF , 1629px 1277px #FFF , 923px 263px #FFF , 859px 781px #FFF , 80px 79px #FFF , 1471px 569px #FFF , 1309px 624px #FFF , 1895px 1743px #FFF , 383px 1480px #FFF , 332px 1393px #FFF , 687px 1765px #FFF , 1339px 388px #FFF , 1319px 1111px #FFF , 1967px 829px #FFF , 1935px 918px #FFF , 1361px 234px #FFF , 1828px 1425px #FFF , 1744px 239px #FFF , 1581px 627px #FFF , 1804px 1109px #FFF , 394px 1454px #FFF , 1597px 1821px #FFF , 766px 531px #FFF , 447px 1930px #FFF , 1154px 207px #FFF , 1987px 1273px #FFF , 648px 893px #FFF , 602px 1417px #FFF , 448px 378px #FFF , 129px 93px #FFF , 618px 1018px #FFF , 1867px 398px #FFF , 1442px 1406px #FFF , 489px 319px #FFF , 474px 1956px #FFF , 912px 123px #FFF , 221px 203px #FFF , 1496px 1190px #FFF , 1380px 1660px #FFF , 1382px 274px #FFF , 163px 432px #FFF , 327px 1812px #FFF , 303px 1188px #FFF , 1708px 108px #FFF , 851px 125px #FFF , 17px 652px #FFF , 1431px 449px #FFF , 955px 1025px #FFF , 1761px 981px #FFF , 1340px 913px #FFF , 1490px 256px #FFF , 1045px 1137px #FFF , 1785px 1757px #FFF , 568px 137px #FFF , 776px 184px #FFF , 861px 822px #FFF , 1325px 1926px #FFF , 1937px 975px #FFF , 484px 1437px #FFF , 850px 1356px #FFF , 1794px 1088px #FFF , 399px 484px #FFF , 1804px 1544px #FFF , 207px 1978px #FFF , 568px 99px #FFF , 486px 1188px #FFF , 607px 1752px #FFF , 596px 1688px #FFF , 1878px 688px #FFF , 1933px 386px #FFF , 839px 595px #FFF , 943px 537px #FFF , 182px 491px #FFF , 269px 144px #FFF , 1443px 1721px #FFF , 843px 457px #FFF , 376px 1007px #FFF , 312px 1028px #FFF , 147px 1004px #FFF , 339px 1510px #FFF , 1432px 466px #FFF , 1032px 1896px #FFF , 1380px 1018px #FFF , 1913px 1248px #FFF , 451px 1530px #FFF , 1063px 762px #FFF , 1907px 1957px #FFF , 730px 919px #FFF , 1482px 250px #FFF , 1573px 1121px #FFF , 428px 151px #FFF , 1769px 102px #FFF , 1188px 1880px #FFF , 17px 1354px #FFF , 6px 1567px #FFF , 1571px 1943px #FFF , 1209px 289px #FFF , 1388px 1784px #FFF , 1960px 357px #FFF , 1881px 1857px #FFF , 1403px 228px #FFF , 1241px 1782px #FFF , 1724px 895px #FFF , 936px 1341px #FFF , 1332px 1880px #FFF , 961px 1067px #FFF , 1521px 528px #FFF , 152px 386px #FFF , 645px 1753px #FFF , 1714px 1777px #FFF , 388px 355px #FFF , 863px 204px #FFF , 740px 1194px #FFF , 1503px 122px #FFF , 90px 1089px #FFF , 46px 839px #FFF , 667px 681px #FFF , 1175px 97px #FFF , 134px 59px #FFF , 1595px 501px #FFF , 269px 1573px #FFF , 906px 1213px #FFF , 1744px 341px #FFF , 1572px 936px #FFF , 399px 1442px #FFF , 276px 1446px #FFF , 694px 406px #FFF , 1460px 214px #FFF , 632px 1300px #FFF , 299px 661px #FFF , 118px 1380px #FFF , 732px 1970px #FFF , 48px 1163px #FFF , 1310px 665px #FFF , 988px 1439px #FFF , 1043px 1497px #FFF , 1315px 1325px #FFF , 1372px 1972px #FFF , 999px 996px #FFF , 1461px 1186px #FFF , 962px 1879px #FFF , 965px 544px #FFF , 1455px 773px #FFF , 1888px 417px #FFF , 1128px 353px #FFF , 139px 1041px #FFF , 212px 518px #FFF , 127px 1354px #FFF , 1271px 740px #FFF , 1069px 1652px #FFF , 1611px 1275px #FFF , 1424px 668px #FFF , 1631px 702px #FFF , 1101px 1658px #FFF , 708px 775px #FFF , 1599px 1447px #FFF , 1143px 344px #FFF , 817px 1184px #FFF , 153px 1115px #FFF , 551px 1562px #FFF , 1226px 1913px #FFF , 1440px 353px #FFF , 130px 1316px #FFF , 928px 1514px #FFF , 1431px 602px #FFF , 23px 1672px #FFF , 262px 1050px #FFF , 318px 1761px #FFF , 1587px 1732px #FFF , 1940px 196px #FFF , 146px 543px #FFF , 1935px 1435px #FFF , 1329px 517px #FFF , 235px 235px #FFF , 1591px 1712px #FFF , 23px 1115px #FFF , 351px 1936px #FFF , 931px 1058px #FFF , 773px 608px #FFF , 1039px 1748px #FFF , 1987px 1105px #FFF , 29px 661px #FFF , 1811px 1669px #FFF , 1248px 1097px #FFF , 509px 66px #FFF , 1203px 1362px #FFF , 1215px 566px #FFF , 489px 538px #FFF , 308px 1493px #FFF , 1945px 521px #FFF , 316px 467px #FFF , 158px 359px #FFF , 1331px 640px #FFF , 1322px 1168px #FFF , 1996px 1038px #FFF , 747px 1044px #FFF , 1893px 7px #FFF , 1012px 1645px #FFF , 1285px 983px #FFF , 1077px 712px #FFF , 342px 1387px #FFF , 13px 881px #FFF , 1018px 1151px #FFF , 252px 1588px #FFF , 324px 1064px #FFF , 395px 323px #FFF , 1269px 141px #FFF , 1913px 1682px #FFF , 562px 392px #FFF , 20px 1569px #FFF , 1318px 157px #FFF , 577px 736px #FFF , 1173px 646px #FFF , 1440px 1327px #FFF , 252px 1240px #FFF , 604px 269px #FFF , 1114px 1606px #FFF , 1278px 133px #FFF , 354px 394px #FFF , 707px 933px #FFF , 491px 689px #FFF , 1920px 935px #FFF , 1183px 1404px #FFF , 995px 1947px #FFF , 622px 584px #FFF , 493px 1343px #FFF , 1549px 1784px #FFF , 279px 466px #FFF , 1552px 1054px #FFF , 472px 1606px #FFF , 442px 1984px #FFF , 1563px 1293px #FFF , 1386px 1822px #FFF , 1222px 1792px #FFF , 368px 1907px #FFF , 1451px 182px #FFF , 1003px 1894px #FFF , 1085px 599px #FFF , 487px 272px #FFF , 622px 1308px #FFF , 1842px 1354px #FFF , 66px 814px #FFF , 1129px 663px #FFF , 1241px 1531px #FFF , 368px 851px #FFF , 398px 1164px #FFF , 33px 1526px #FFF , 705px 1072px #FFF , 726px 1333px #FFF , 1776px 1111px #FFF , 1821px 1138px #FFF , 186px 246px #FFF , 933px 364px #FFF , 1418px 1649px #FFF , 1590px 77px #FFF , 126px 73px #FFF , 156px 1378px #FFF , 1555px 1112px #FFF , 1538px 987px #FFF , 890px 354px #FFF , 88px 977px #FFF , 1035px 2000px #FFF , 893px 1472px #FFF , 1297px 559px #FFF , 1985px 820px #FFF , 122px 1499px #FFF , 546px 130px #FFF , 423px 47px #FFF , 1358px 1763px #FFF , 668px 1886px #FFF , 1398px 1785px #FFF , 1556px 1139px #FFF , 463px 1337px #FFF , 484px 526px #FFF , 1885px 384px #FFF , 212px 2px #FFF , 792px 1320px #FFF , 1563px 773px #FFF , 1199px 382px #FFF , 1364px 1179px #FFF , 1409px 1026px #FFF , 1804px 1998px #FFF , 131px 1300px #FFF , 830px 613px #FFF , 1927px 1967px #FFF , 564px 908px #FFF , 1737px 1875px #FFF , 567px 1268px #FFF , 1847px 860px #FFF , 1406px 416px #FFF , 189px 789px #FFF , 466px 274px #FFF , 376px 516px #FFF , 1659px 1508px #FFF , 1995px 955px #FFF , 1474px 1353px #FFF , 1277px 1005px #FFF , 1786px 1255px #FFF , 1366px 1755px #FFF , 217px 696px #FFF , 1962px 509px #FFF , 50px 34px #FFF , 429px 549px #FFF , 903px 260px #FFF , 1941px 1362px #FFF , 65px 750px #FFF , 383px 356px #FFF , 1561px 262px #FFF , 479px 944px #FFF , 1499px 490px #FFF , 1990px 264px #FFF , 1828px 876px #FFF , 1635px 376px #FFF , 1798px 108px #FFF , 191px 242px #FFF , 812px 1556px #FFF , 24px 1585px #FFF , 779px 1388px #FFF , 1833px 1725px #FFF , 1558px 1409px #FFF , 1212px 274px #FFF , 1316px 1707px #FFF , 507px 504px #FFF , 142px 1596px #FFF , 1711px 491px #FFF , 564px 1350px #FFF , 1795px 649px #FFF , 532px 706px #FFF , 1292px 794px #FFF , 169px 1285px #FFF , 1221px 1671px #FFF , 336px 685px #FFF , 949px 474px #FFF , 826px 948px #FFF , 635px 1327px #FFF , 1350px 1286px #FFF , 1056px 362px #FFF , 763px 561px #FFF , 1298px 1551px #FFF , 445px 1274px #FFF , 1679px 531px #FFF , 1125px 1235px #FFF , 128px 1911px #FFF , 1469px 1847px #FFF , 177px 788px #FFF , 1490px 751px #FFF , 790px 1438px #FFF , 432px 1767px #FFF , 109px 416px #FFF , 939px 994px #FFF , 1891px 768px #FFF , 292px 16px #FFF , 301px 107px #FFF , 1494px 1560px #FFF , 688px 1024px #FFF , 1503px 1462px #FFF , 988px 27px #FFF , 1666px 69px #FFF , 518px 1713px #FFF , 1764px 1721px #FFF , 1906px 1624px #FFF , 1044px 1367px #FFF , 536px 1983px #FFF , 1647px 151px #FFF , 1621px 327px #FFF , 269px 1665px #FFF , 394px 1022px #FFF , 178px 675px #FFF , 814px 1519px #FFF , 912px 29px #FFF , 1486px 117px #FFF , 1745px 1499px #FFF , 1889px 332px #FFF , 1212px 1602px #FFF , 1936px 361px #FFF , 128px 969px #FFF , 909px 459px #FFF , 413px 502px #FFF , 937px 306px #FFF , 176px 838px #FFF , 839px 393px #FFF , 181px 1343px #FFF , 1764px 604px #FFF , 629px 80px #FFF , 1838px 301px #FFF , 476px 1953px #FFF , 1134px 1178px #FFF , 1348px 1648px #FFF , 452px 1697px #FFF , 1285px 1482px #FFF , 480px 819px #FFF , 756px 790px #FFF , 1885px 43px #FFF , 719px 1539px #FFF , 747px 381px #FFF , 554px 1653px #FFF , 1292px 607px #FFF , 69px 36px #FFF , 1021px 624px #FFF , 1663px 1862px #FFF , 133px 1213px #FFF , 1564px 847px #FFF , 1702px 165px #FFF , 306px 1539px #FFF , 147px 418px #FFF , 453px 973px #FFF , 1125px 657px #FFF , 946px 1515px #FFF , 571px 404px #FFF , 849px 1678px #FFF , 701px 751px #FFF , 997px 432px #FFF , 1180px 1655px #FFF , 131px 1594px #FFF , 291px 1815px #FFF , 1234px 928px #FFF , 1122px 1823px #FFF , 1602px 1965px #FFF , 88px 1305px #FFF , 797px 247px #FFF , 1874px 1598px #FFF , 934px 1515px #FFF , 795px 1775px #FFF , 1487px 1319px #FFF , 933px 712px #FFF , 1384px 1600px #FFF , 696px 716px #FFF , 56px 1562px #FFF , 1467px 65px #FFF , 442px 1796px #FFF , 1094px 1414px #FFF , 1048px 315px #FFF , 1484px 869px #FFF , 1324px 1117px #FFF , 87px 1076px #FFF , 378px 532px #FFF , 454px 594px #FFF , 638px 1201px #FFF , 82px 734px #FFF , 1589px 845px #FFF , 601px 594px #FFF , 1059px 220px #FFF , 1902px 533px #FFF , 1815px 1914px #FFF , 797px 644px #FFF , 1321px 277px #FFF , 508px 733px #FFF , 397px 1079px #FFF , 1594px 1435px #FFF , 44px 1206px #FFF , 1121px 1252px #FFF , 1999px 990px #FFF , 1261px 790px #FFF , 955px 177px #FFF , 468px 676px #FFF , 1856px 1536px #FFF , 1795px 963px #FFF , 1627px 303px #FFF , 1098px 1975px #FFF , 1004px 1269px #FFF , 2000px 102px #FFF , 1185px 1617px #FFF , 1414px 1059px #FFF , 314px 988px #FFF , 579px 66px #FFF , 1487px 203px #FFF , 1324px 534px #FFF , 1556px 969px #FFF , 420px 1363px #FFF , 1116px 791px #FFF , 722px 1906px #FFF , 1530px 1214px #FFF , 1350px 1662px #FFF , 1247px 204px #FFF , 806px 959px #FFF , 1721px 1024px #FFF , 1370px 272px #FFF , 1657px 446px #FFF , 1670px 222px #FFF , 1292px 137px #FFF , 829px 1785px #FFF , 1017px 520px #FFF , 345px 1174px #FFF , 821px 1187px #FFF , 563px 1611px #FFF , 1451px 552px #FFF , 274px 1146px #FFF , 1274px 1309px #FFF , 1804px 1525px #FFF , 1421px 1838px #FFF , 1169px 422px #FFF , 663px 1809px #FFF , 910px 363px #FFF , 514px 291px #FFF , 822px 1355px #FFF , 163px 1971px #FFF , 1284px 664px #FFF , 82px 400px #FFF , 1415px 1612px #FFF , 1974px 1549px #FFF , 1949px 976px #FFF , 411px 1060px #FFF , 235px 542px #FFF , 1985px 1255px #FFF , 873px 456px #FFF , 1192px 1238px #FFF , 891px 697px #FFF , 7px 102px #FFF , 809px 1472px #FFF , 1639px 1413px #FFF , 858px 1256px #FFF , 409px 1270px #FFF , 895px 1832px #FFF , 948px 1973px #FFF , 1798px 376px #FFF , 1059px 1317px #FFF , 1970px 1629px #FFF , 1553px 1985px #FFF , 1818px 1297px #FFF , 139px 1902px #FFF , 866px 191px #FFF , 1891px 750px #FFF , 510px 330px #FFF , 1638px 479px #FFF , 125px 465px #FFF , 1024px 1059px #FFF , 923px 1542px #FFF , 522px 463px #FFF , 1603px 1092px #FFF , 154px 1605px #FFF , 1022px 1055px #FFF , 1121px 1017px #FFF , 611px 562px #FFF , 1527px 723px #FFF , 1033px 1365px #FFF , 1123px 642px #FFF , 1822px 7px #FFF , 157px 330px #FFF , 990px 1619px #FFF , 1314px 1252px #FFF , 1938px 1479px #FFF , 1367px 1834px #FFF , 885px 743px #FFF;
}

.section #stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 292px 61px #FFF , 1584px 379px #FFF , 1728px 359px #FFF , 1342px 869px #FFF , 513px 1226px #FFF , 1893px 1232px #FFF , 1774px 209px #FFF , 779px 75px #FFF , 370px 878px #FFF , 878px 275px #FFF , 1164px 1315px #FFF , 222px 1787px #FFF , 1883px 25px #FFF , 1464px 680px #FFF , 841px 1931px #FFF , 990px 1271px #FFF , 1450px 1331px #FFF , 1488px 1218px #FFF , 127px 1773px #FFF , 200px 446px #FFF , 897px 1265px #FFF , 877px 1225px #FFF , 1122px 1322px #FFF , 1401px 1789px #FFF , 1602px 1171px #FFF , 381px 791px #FFF , 980px 1106px #FFF , 524px 720px #FFF , 1159px 61px #FFF , 853px 265px #FFF , 321px 1932px #FFF , 1936px 1190px #FFF , 1319px 491px #FFF , 345px 305px #FFF , 14px 1062px #FFF , 211px 237px #FFF , 1114px 841px #FFF , 1157px 1080px #FFF , 1842px 867px #FFF , 1222px 1091px #FFF , 196px 209px #FFF , 1159px 942px #FFF , 1468px 273px #FFF , 1841px 764px #FFF , 1516px 808px #FFF , 700px 508px #FFF , 1183px 479px #FFF , 1596px 182px #FFF , 343px 1778px #FFF , 322px 911px #FFF , 1719px 1519px #FFF , 807px 96px #FFF , 544px 276px #FFF , 1214px 1721px #FFF , 423px 1511px #FFF , 1827px 1794px #FFF , 404px 685px #FFF , 641px 1455px #FFF , 1805px 1419px #FFF , 1031px 101px #FFF , 310px 1085px #FFF , 1668px 1810px #FFF , 731px 839px #FFF , 380px 1107px #FFF , 1742px 1364px #FFF , 143px 1828px #FFF , 746px 1899px #FFF , 1330px 1442px #FFF , 1064px 87px #FFF , 1940px 406px #FFF , 468px 860px #FFF , 903px 933px #FFF , 1330px 464px #FFF , 1660px 664px #FFF , 1252px 1755px #FFF , 590px 1747px #FFF , 1948px 1767px #FFF , 1834px 977px #FFF , 477px 1979px #FFF , 162px 307px #FFF , 1859px 1763px #FFF , 894px 75px #FFF , 708px 1118px #FFF , 666px 1760px #FFF , 1411px 883px #FFF , 297px 1920px #FFF , 144px 356px #FFF , 1707px 242px #FFF , 1313px 1736px #FFF , 1669px 1px #FFF , 1392px 1877px #FFF , 1612px 830px #FFF , 1659px 586px #FFF , 759px 1594px #FFF , 621px 1647px #FFF , 817px 1137px #FFF , 1020px 1835px #FFF , 1804px 1469px #FFF , 359px 603px #FFF , 1646px 154px #FFF , 1711px 151px #FFF , 563px 421px #FFF , 783px 1983px #FFF , 144px 1674px #FFF , 406px 1712px #FFF , 912px 1604px #FFF , 1274px 1529px #FFF , 1487px 336px #FFF , 1123px 1740px #FFF , 691px 1011px #FFF , 52px 1065px #FFF , 630px 539px #FFF , 1796px 615px #FFF , 1192px 1671px #FFF , 1406px 566px #FFF , 1017px 1547px #FFF , 484px 887px #FFF , 174px 1017px #FFF , 1763px 310px #FFF , 622px 549px #FFF , 175px 1506px #FFF , 1232px 824px #FFF , 707px 1453px #FFF , 222px 645px #FFF , 1138px 1789px #FFF , 742px 1829px #FFF , 815px 832px #FFF , 1060px 725px #FFF , 1px 1848px #FFF , 1983px 1424px #FFF , 230px 800px #FFF , 476px 448px #FFF , 1771px 141px #FFF , 964px 182px #FFF , 1805px 1253px #FFF , 400px 1611px #FFF , 652px 1746px #FFF , 527px 828px #FFF , 1869px 1427px #FFF , 481px 1455px #FFF , 767px 1174px #FFF , 1997px 1634px #FFF , 1951px 849px #FFF , 1833px 1157px #FFF , 1737px 689px #FFF , 947px 521px #FFF , 1339px 824px #FFF , 662px 458px #FFF , 1668px 1287px #FFF , 1987px 1334px #FFF , 774px 1432px #FFF , 168px 515px #FFF , 1081px 897px #FFF , 1425px 1367px #FFF , 394px 478px #FFF , 444px 714px #FFF , 48px 452px #FFF , 627px 781px #FFF , 1558px 1434px #FFF , 904px 1646px #FFF , 1692px 605px #FFF , 1468px 1546px #FFF , 1159px 1522px #FFF , 1015px 417px #FFF , 1569px 818px #FFF , 1451px 271px #FFF , 1776px 1188px #FFF , 1439px 1006px #FFF , 1955px 1568px #FFF , 836px 671px #FFF , 747px 1311px #FFF , 685px 708px #FFF , 1662px 599px #FFF , 960px 1827px #FFF , 1083px 633px #FFF , 1397px 602px #FFF , 1409px 737px #FFF , 695px 1118px #FFF , 406px 676px #FFF , 252px 160px #FFF , 1859px 1474px #FFF , 429px 281px #FFF , 1071px 1241px #FFF , 291px 1662px #FFF , 1314px 1480px #FFF , 728px 943px #FFF , 409px 1954px #FFF , 856px 1411px #FFF , 558px 1875px #FFF , 1657px 1142px #FFF , 1674px 1365px #FFF , 1440px 19px #FFF , 320px 1875px #FFF , 1912px 430px #FFF , 1477px 1423px #FFF , 213px 628px #FFF , 1517px 1383px #FFF , 610px 977px #FFF , 1715px 862px #FFF , 741px 1071px #FFF;
  animation: animStar 100s linear infinite;
}

.section #stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 292px 61px #FFF , 1584px 379px #FFF , 1728px 359px #FFF , 1342px 869px #FFF , 513px 1226px #FFF , 1893px 1232px #FFF , 1774px 209px #FFF , 779px 75px #FFF , 370px 878px #FFF , 878px 275px #FFF , 1164px 1315px #FFF , 222px 1787px #FFF , 1883px 25px #FFF , 1464px 680px #FFF , 841px 1931px #FFF , 990px 1271px #FFF , 1450px 1331px #FFF , 1488px 1218px #FFF , 127px 1773px #FFF , 200px 446px #FFF , 897px 1265px #FFF , 877px 1225px #FFF , 1122px 1322px #FFF , 1401px 1789px #FFF , 1602px 1171px #FFF , 381px 791px #FFF , 980px 1106px #FFF , 524px 720px #FFF , 1159px 61px #FFF , 853px 265px #FFF , 321px 1932px #FFF , 1936px 1190px #FFF , 1319px 491px #FFF , 345px 305px #FFF , 14px 1062px #FFF , 211px 237px #FFF , 1114px 841px #FFF , 1157px 1080px #FFF , 1842px 867px #FFF , 1222px 1091px #FFF , 196px 209px #FFF , 1159px 942px #FFF , 1468px 273px #FFF , 1841px 764px #FFF , 1516px 808px #FFF , 700px 508px #FFF , 1183px 479px #FFF , 1596px 182px #FFF , 343px 1778px #FFF , 322px 911px #FFF , 1719px 1519px #FFF , 807px 96px #FFF , 544px 276px #FFF , 1214px 1721px #FFF , 423px 1511px #FFF , 1827px 1794px #FFF , 404px 685px #FFF , 641px 1455px #FFF , 1805px 1419px #FFF , 1031px 101px #FFF , 310px 1085px #FFF , 1668px 1810px #FFF , 731px 839px #FFF , 380px 1107px #FFF , 1742px 1364px #FFF , 143px 1828px #FFF , 746px 1899px #FFF , 1330px 1442px #FFF , 1064px 87px #FFF , 1940px 406px #FFF , 468px 860px #FFF , 903px 933px #FFF , 1330px 464px #FFF , 1660px 664px #FFF , 1252px 1755px #FFF , 590px 1747px #FFF , 1948px 1767px #FFF , 1834px 977px #FFF , 477px 1979px #FFF , 162px 307px #FFF , 1859px 1763px #FFF , 894px 75px #FFF , 708px 1118px #FFF , 666px 1760px #FFF , 1411px 883px #FFF , 297px 1920px #FFF , 144px 356px #FFF , 1707px 242px #FFF , 1313px 1736px #FFF , 1669px 1px #FFF , 1392px 1877px #FFF , 1612px 830px #FFF , 1659px 586px #FFF , 759px 1594px #FFF , 621px 1647px #FFF , 817px 1137px #FFF , 1020px 1835px #FFF , 1804px 1469px #FFF , 359px 603px #FFF , 1646px 154px #FFF , 1711px 151px #FFF , 563px 421px #FFF , 783px 1983px #FFF , 144px 1674px #FFF , 406px 1712px #FFF , 912px 1604px #FFF , 1274px 1529px #FFF , 1487px 336px #FFF , 1123px 1740px #FFF , 691px 1011px #FFF , 52px 1065px #FFF , 630px 539px #FFF , 1796px 615px #FFF , 1192px 1671px #FFF , 1406px 566px #FFF , 1017px 1547px #FFF , 484px 887px #FFF , 174px 1017px #FFF , 1763px 310px #FFF , 622px 549px #FFF , 175px 1506px #FFF , 1232px 824px #FFF , 707px 1453px #FFF , 222px 645px #FFF , 1138px 1789px #FFF , 742px 1829px #FFF , 815px 832px #FFF , 1060px 725px #FFF , 1px 1848px #FFF , 1983px 1424px #FFF , 230px 800px #FFF , 476px 448px #FFF , 1771px 141px #FFF , 964px 182px #FFF , 1805px 1253px #FFF , 400px 1611px #FFF , 652px 1746px #FFF , 527px 828px #FFF , 1869px 1427px #FFF , 481px 1455px #FFF , 767px 1174px #FFF , 1997px 1634px #FFF , 1951px 849px #FFF , 1833px 1157px #FFF , 1737px 689px #FFF , 947px 521px #FFF , 1339px 824px #FFF , 662px 458px #FFF , 1668px 1287px #FFF , 1987px 1334px #FFF , 774px 1432px #FFF , 168px 515px #FFF , 1081px 897px #FFF , 1425px 1367px #FFF , 394px 478px #FFF , 444px 714px #FFF , 48px 452px #FFF , 627px 781px #FFF , 1558px 1434px #FFF , 904px 1646px #FFF , 1692px 605px #FFF , 1468px 1546px #FFF , 1159px 1522px #FFF , 1015px 417px #FFF , 1569px 818px #FFF , 1451px 271px #FFF , 1776px 1188px #FFF , 1439px 1006px #FFF , 1955px 1568px #FFF , 836px 671px #FFF , 747px 1311px #FFF , 685px 708px #FFF , 1662px 599px #FFF , 960px 1827px #FFF , 1083px 633px #FFF , 1397px 602px #FFF , 1409px 737px #FFF , 695px 1118px #FFF , 406px 676px #FFF , 252px 160px #FFF , 1859px 1474px #FFF , 429px 281px #FFF , 1071px 1241px #FFF , 291px 1662px #FFF , 1314px 1480px #FFF , 728px 943px #FFF , 409px 1954px #FFF , 856px 1411px #FFF , 558px 1875px #FFF , 1657px 1142px #FFF , 1674px 1365px #FFF , 1440px 19px #FFF , 320px 1875px #FFF , 1912px 430px #FFF , 1477px 1423px #FFF , 213px 628px #FFF , 1517px 1383px #FFF , 610px 977px #FFF , 1715px 862px #FFF , 741px 1071px #FFF;
}

.section #stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 111px 1366px #FFF , 1101px 1670px #FFF , 1422px 638px #FFF , 1605px 1995px #FFF , 1505px 85px #FFF , 1456px 1732px #FFF , 1404px 1692px #FFF , 519px 1317px #FFF , 404px 1670px #FFF , 1533px 1226px #FFF , 388px 570px #FFF , 1128px 864px #FFF , 336px 1519px #FFF , 847px 1122px #FFF , 1399px 1746px #FFF , 424px 75px #FFF , 816px 799px #FFF , 1466px 1123px #FFF , 907px 1973px #FFF , 1738px 282px #FFF , 1276px 614px #FFF , 187px 119px #FFF , 117px 285px #FFF , 1276px 63px #FFF , 63px 330px #FFF , 1966px 487px #FFF , 1749px 1687px #FFF , 1861px 641px #FFF , 423px 1528px #FFF , 978px 300px #FFF , 1858px 64px #FFF , 1491px 1331px #FFF , 895px 585px #FFF , 402px 880px #FFF , 208px 1367px #FFF , 1775px 1472px #FFF , 1502px 1735px #FFF , 1410px 603px #FFF , 197px 1227px #FFF , 1443px 33px #FFF , 1111px 777px #FFF , 1443px 163px #FFF , 150px 860px #FFF , 351px 551px #FFF , 1113px 171px #FFF , 593px 1919px #FFF , 382px 1782px #FFF , 998px 983px #FFF , 1323px 270px #FFF , 430px 300px #FFF , 1862px 1164px #FFF , 290px 607px #FFF , 1008px 1115px #FFF , 174px 1622px #FFF , 35px 1356px #FFF , 1829px 1941px #FFF , 384px 1965px #FFF , 1854px 695px #FFF , 1624px 460px #FFF , 1763px 494px #FFF , 1555px 1168px #FFF , 1969px 343px #FFF , 1545px 824px #FFF , 1905px 1605px #FFF , 1421px 898px #FFF , 742px 1135px #FFF , 1797px 1562px #FFF , 465px 1184px #FFF , 438px 353px #FFF , 884px 1670px #FFF , 1393px 1853px #FFF , 1587px 71px #FFF , 1663px 573px #FFF , 1522px 495px #FFF , 817px 1371px #FFF , 440px 1379px #FFF , 68px 787px #FFF , 1027px 205px #FFF , 903px 1899px #FFF , 982px 1289px #FFF , 1906px 226px #FFF , 744px 657px #FFF , 966px 805px #FFF , 1303px 1306px #FFF , 421px 1606px #FFF , 801px 253px #FFF , 1306px 435px #FFF , 913px 641px #FFF , 1592px 1595px #FFF , 1275px 639px #FFF , 1437px 157px #FFF , 820px 1310px #FFF , 8px 1381px #FFF , 1539px 487px #FFF , 670px 1169px #FFF , 1822px 1526px #FFF , 245px 713px #FFF , 985px 1102px #FFF , 78px 1153px #FFF , 31px 1701px #FFF;
  animation: animStar 150s linear infinite;
}

.section #stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  height: 3px;
  background: transparent;
  box-shadow: 111px 1366px #FFF , 1101px 1670px #FFF , 1422px 638px #FFF , 1605px 1995px #FFF , 1505px 85px #FFF , 1456px 1732px #FFF , 1404px 1692px #FFF , 519px 1317px #FFF , 404px 1670px #FFF , 1533px 1226px #FFF , 388px 570px #FFF , 1128px 864px #FFF , 336px 1519px #FFF , 847px 1122px #FFF , 1399px 1746px #FFF , 424px 75px #FFF , 816px 799px #FFF , 1466px 1123px #FFF , 907px 1973px #FFF , 1738px 282px #FFF , 1276px 614px #FFF , 187px 119px #FFF , 117px 285px #FFF , 1276px 63px #FFF , 63px 330px #FFF , 1966px 487px #FFF , 1749px 1687px #FFF , 1861px 641px #FFF , 423px 1528px #FFF , 978px 300px #FFF , 1858px 64px #FFF , 1491px 1331px #FFF , 895px 585px #FFF , 402px 880px #FFF , 208px 1367px #FFF , 1775px 1472px #FFF , 1502px 1735px #FFF , 1410px 603px #FFF , 197px 1227px #FFF , 1443px 33px #FFF , 1111px 777px #FFF , 1443px 163px #FFF , 150px 860px #FFF , 351px 551px #FFF , 1113px 171px #FFF , 593px 1919px #FFF , 382px 1782px #FFF , 998px 983px #FFF , 1323px 270px #FFF , 430px 300px #FFF , 1862px 1164px #FFF , 290px 607px #FFF , 1008px 1115px #FFF , 174px 1622px #FFF , 35px 1356px #FFF , 1829px 1941px #FFF , 384px 1965px #FFF , 1854px 695px #FFF , 1624px 460px #FFF , 1763px 494px #FFF , 1555px 1168px #FFF , 1969px 343px #FFF , 1545px 824px #FFF , 1905px 1605px #FFF , 1421px 898px #FFF , 742px 1135px #FFF , 1797px 1562px #FFF , 465px 1184px #FFF , 438px 353px #FFF , 884px 1670px #FFF , 1393px 1853px #FFF , 1587px 71px #FFF , 1663px 573px #FFF , 1522px 495px #FFF , 817px 1371px #FFF , 440px 1379px #FFF , 68px 787px #FFF , 1027px 205px #FFF , 903px 1899px #FFF , 982px 1289px #FFF , 1906px 226px #FFF , 744px 657px #FFF , 966px 805px #FFF , 1303px 1306px #FFF , 421px 1606px #FFF , 801px 253px #FFF , 1306px 435px #FFF , 913px 641px #FFF , 1592px 1595px #FFF , 1275px 639px #FFF , 1437px 157px #FFF , 820px 1310px #FFF , 8px 1381px #FFF , 1539px 487px #FFF , 670px 1169px #FFF , 1822px 1526px #FFF , 245px 713px #FFF , 985px 1102px #FFF , 78px 1153px #FFF , 31px 1701px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.sec1 .about_txt_box h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.sec1 .about_txt_box .about_info {
  margin-bottom: 20px;
  font-size: 20px;
}

.sec1 .about_txt_box .about_txt_wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt_top {
  text-align: left;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt_top h4 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt3 {
  text-align: center;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt3 h4 {
  font-size: 24px;
  margin-bottom: 15px;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt3 .skill_box {
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 30px;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt3 .skill_box .skill1,
.sec1 .about_txt_box .about_txt_wrap .about_txt3 .skill_box .skill2 {
  display: flex;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt3 .skill_box .skill1 p img,
.sec1 .about_txt_box .about_txt_wrap .about_txt3 .skill_box .skill2 p img {
  transform: scale(0.7);
}

.pc_m_area {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
}

.pc_m_area .pc_m_wrap {
  width: 40vw;
  display: flex;
}

.pc_m_area .pc_m_wrap .pc_img {
  width: 65%;
  height: 100%;
  background: url("./images/ddp_pc_img.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .mobile_img {
  width: 35%;
  height: 100%;
  background: url("./images/ddp_m_img.png") no-repeat center center;
  background-size: contain;
  transform: scale(0.6);
}

.pc_m_area .pc_m_wrap .behive_pc_img {
  background: url("./images/behive_pc_img.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .behive_m_img {
  background: url("./images/behive_m_img.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .kream_pc_img {
  background: url("./images/kreamPc.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .kream_m_img {
  background: url("./images/kreamMobile.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .gentle_pc_img {
  background: url("./images/gentlePc.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .gentle_m_img {
  background: url("./images/gentleMobile.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .project_txt {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m_area {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
}

.m_area .m_wrap {
  width: 40vw;
  height: 50vh;
}

.m_area .m_wrap .m_img {
  width: 100%;
  height: 100%;
  background: url("./images/ddp_m_img.png") no-repeat center center;
  background-size: contain;
  transform: scale(0.6);
}

.m_area .m_wrap .bono_img {
  background: url("./images/bono_m_img.png") no-repeat center center;
  background-size: contain;
}

.m_area .m_wrap .pay_img {
  background: url("./images/cal1.png") no-repeat center center;
  background-size: contain;
}

.m_area .m_wrap .snake_img {
  background: url("./images/snake.png") no-repeat center center;
  background-size: contain;
}

.m_area .m_wrap .starbucks_pc_img {
  background: url("./images/starbucksPc.png") no-repeat center center;
  background-size: contain;
}

.m_area .m_txt {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_txt p,
.m_txt p {
  text-align: left;
  margin-bottom: 7px;
  width: 80%;
  margin-left: 10%;
}

.project_txt p .info_txt,
.m_txt p .info_txt {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.project_txt .link-box,
.m_txt .link-box {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 40px;
}

.project_txt .link-box .page-link,
.project_txt .link-box .made-link,
.m_txt .link-box .page-link,
.m_txt .link-box .made-link {
  display: block;
  font-size: 18px;
  width: 110px;
  height: 40px;
  background: #ebebeb;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #222;
}

.sec5 .contact_txt .contact_t {
  font-size: 24px;
  margin-bottom: 100px;
}

.sec5 .contact_txt .contact_t p:first-child {
  margin-bottom: 10px;
}

.sec5 .contact_txt .contact_b {
  font-size: 20px;
  padding-top: 50px;
}

.sec5 .contact_txt .contact_b h4 {
  font-size: 22px;
  margin-bottom: 15px;
}

.sec5 .contact_txt .contact_b p {
  margin-bottom: 10px;
}

.about_txt1,
.about_txt2 {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) and (min-width: 710px) {
  .info_txt {
    font-size: 24px !important;
  }
  .project_txt p,
  .m_txt p {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 709px) {
  .info_txt {
    font-size: 18px !important;
  }
  .project_txt p,
  .m_txt p {
    font-size: 12px !important;
  }
  .pc_m_area,
  .m_area {
    flex-direction: column;
    justify-content: center;
  }
  .pc_m_area .pc_m_wrap {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
  }
  .pc_m_area .pc_m_wrap .pc_img {
    width: 45%;
    height: 150%;
  }
  .pc_m_area .pc_m_wrap .mobile_img {
    width: 25%;
    height: 150%;
  }
  .m_area .m_wrap {
    width: 100%;
    height: 50vh;
  }
  .pc_m_area .project_txt,
  .m_area .m_txt {
    width: 100%;
  }
  #menu a {
    font-size: 18px;
  }
  .main_header .gnb ul li {
    width: 0;
  }
  li:nth-child(2).active a::before,
  li:nth-child(3).active a::before,
  li:nth-child(4).active a::before,
  li:nth-child(5).active a::before,
  li:nth-child(6).active a::before {
    right: -80px !important;
  }
  .contact_txt .contact_t {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 820px) {
  .section h2 {
    top: 5%;
    font-size: 28px;
  }
  .sec1 .about_txt_box h3 {
    font-size: 20px;
  }
  .about_info p {
    font-size: 16px;
  }
  .about_txt1 h4,
  .about_txt2 h4 {
    font-size: 20px !important;
    margin-bottom: 6px !important;
  }
  .about_txt1 p,
  .about_txt2 p {
    font-size: 16px;
  }
  .txt-info1,
  .txt-info2 {
    text-align: center;
  }
  .about_txt_top {
    flex-direction: column;
    justify-content: center;
  }
  .about_txt1,
  .about_txt2 {
    justify-content: center;
  }
  .skill1 p img,
  .skill2 p img {
    width: 100%;
  }
  .sec1 .about_txt_box .about_txt_wrap .about_txt_top {
    gap: 10px;
  }
  .sec1 .about_txt_box .about_txt_wrap {
    gap: 20px !important;
  }
  .skill_box {
    flex-direction: column;
    justify-content: center;
    gap: 0 !important;
  }
  .skill_box .skill1,
  .skill_box .skill2 {
    justify-content: center;
    gap: 0 7px;
  }
  .skill_box .skill1 p,
  .skill_box .skill2 p {
    font-size: 15px;
    width: 70px;
  }
}

@media screen and (max-width: 530px) {
  .about_txt_box h3 {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
  .about_info p {
    font-size: 12px;
  }
  .contact_txt .contact_t {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 420px) {
  .about_txt_box h3 {
    font-size: 16px !important;
    margin-bottom: 10px !important;
    text-align: right;
    margin-right: 10px;
  }
  .about_info p {
    text-align: right;
    margin-right: 10px;
  }
  .contact_txt .contact_t {
    font-size: 12px !important;
  }
}
