@charset "UTF-8";
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GangwonEdu_OTFBoldA";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
}

.main_header {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10000;
}

.main_header .gnb ul li {
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  position: relative;
}

.main_header .gnb ul li a {
  display: block;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.main_header .gnb ul li.active a {
  color: #000;
}

.main_header .gnb ul li:nth-child(2).active a::before {
  content: "🌱";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  z-index: 10000;
}

.main_header .gnb ul li:nth-child(3).active a::before {
  content: "🧑🏻‍💻";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  z-index: 10000;
}

.main_header .gnb ul li:nth-child(4).active a::before {
  content: "🖥";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  z-index: 10000;
}

.main_header .gnb ul li:nth-child(5).active a::before {
  content: "📱";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  z-index: 10000;
}

.main_header .gnb ul li:nth-child(6).active a::before {
  content: "📞";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  z-index: 10000;
}

.section {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #a9d2ab 0%, #54a36e 100%);
  overflow: hidden;
  text-align: center;
}

.section h2 {
  font-size: 32px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.section #stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1535px 240px #FFF , 96px 1710px #FFF , 1302px 838px #FFF , 1375px 1605px #FFF , 1756px 1078px #FFF , 1155px 1986px #FFF , 180px 1290px #FFF , 1795px 1607px #FFF , 1544px 1620px #FFF , 1978px 363px #FFF , 352px 1180px #FFF , 1085px 109px #FFF , 1759px 1996px #FFF , 1011px 877px #FFF , 1057px 1358px #FFF , 1120px 1351px #FFF , 1757px 1795px #FFF , 1137px 1624px #FFF , 374px 978px #FFF , 1309px 794px #FFF , 474px 1103px #FFF , 711px 1307px #FFF , 1460px 239px #FFF , 1017px 745px #FFF , 1468px 1829px #FFF , 1933px 28px #FFF , 1513px 1806px #FFF , 1763px 1154px #FFF , 1560px 1985px #FFF , 918px 1937px #FFF , 413px 74px #FFF , 513px 1133px #FFF , 1108px 1615px #FFF , 1633px 172px #FFF , 308px 1976px #FFF , 1433px 817px #FFF , 394px 1500px #FFF , 1414px 797px #FFF , 1466px 874px #FFF , 318px 514px #FFF , 1681px 1296px #FFF , 1126px 706px #FFF , 1293px 995px #FFF , 1246px 1528px #FFF , 1758px 429px #FFF , 1938px 599px #FFF , 1718px 606px #FFF , 1114px 900px #FFF , 482px 1251px #FFF , 97px 938px #FFF , 1247px 629px #FFF , 1533px 628px #FFF , 1131px 705px #FFF , 979px 57px #FFF , 283px 1083px #FFF , 944px 1243px #FFF , 1421px 370px #FFF , 1946px 240px #FFF , 1855px 579px #FFF , 1562px 602px #FFF , 1725px 406px #FFF , 1425px 1437px #FFF , 811px 279px #FFF , 1686px 1443px #FFF , 1586px 50px #FFF , 1684px 369px #FFF , 282px 86px #FFF , 567px 1500px #FFF , 124px 1727px #FFF , 1119px 909px #FFF , 630px 128px #FFF , 1003px 468px #FFF , 1887px 1127px #FFF , 1766px 1996px #FFF , 609px 1242px #FFF , 1529px 1826px #FFF , 1183px 1547px #FFF , 1414px 72px #FFF , 752px 1403px #FFF , 1628px 1381px #FFF , 1083px 915px #FFF , 1267px 1351px #FFF , 780px 1110px #FFF , 1534px 1216px #FFF , 1415px 1075px #FFF , 505px 1672px #FFF , 1013px 909px #FFF , 1755px 547px #FFF , 504px 1025px #FFF , 988px 27px #FFF , 1555px 472px #FFF , 20px 373px #FFF , 569px 1716px #FFF , 1149px 1048px #FFF , 515px 241px #FFF , 291px 634px #FFF , 617px 1312px #FFF , 1514px 1682px #FFF , 1663px 462px #FFF , 1283px 1460px #FFF , 1138px 1176px #FFF , 1804px 170px #FFF , 743px 838px #FFF , 1865px 936px #FFF , 1935px 1606px #FFF , 1538px 435px #FFF , 877px 950px #FFF , 997px 1917px #FFF , 1639px 1548px #FFF , 89px 143px #FFF , 756px 1561px #FFF , 1895px 763px #FFF , 391px 522px #FFF , 1472px 451px #FFF , 22px 908px #FFF , 723px 1256px #FFF , 775px 1081px #FFF , 783px 862px #FFF , 1062px 833px #FFF , 258px 1105px #FFF , 1601px 1404px #FFF , 1725px 1180px #FFF , 733px 471px #FFF , 641px 1056px #FFF , 1288px 1436px #FFF , 1289px 1035px #FFF , 1417px 978px #FFF , 1660px 327px #FFF , 1749px 1761px #FFF , 1487px 1035px #FFF , 1613px 633px #FFF , 1242px 1412px #FFF , 1257px 369px #FFF , 1663px 992px #FFF , 335px 942px #FFF , 253px 196px #FFF , 1312px 1609px #FFF , 843px 1504px #FFF , 1709px 1632px #FFF , 347px 348px #FFF , 914px 1009px #FFF , 1676px 580px #FFF , 691px 1591px #FFF , 661px 1697px #FFF , 281px 295px #FFF , 935px 173px #FFF , 682px 1648px #FFF , 685px 554px #FFF , 1681px 737px #FFF , 1597px 159px #FFF , 495px 1277px #FFF , 1421px 857px #FFF , 1630px 1049px #FFF , 998px 1794px #FFF , 1816px 891px #FFF , 1859px 1788px #FFF , 156px 1265px #FFF , 1724px 596px #FFF , 1819px 26px #FFF , 1797px 1618px #FFF , 79px 1053px #FFF , 719px 585px #FFF , 1433px 295px #FFF , 1449px 1495px #FFF , 830px 289px #FFF , 1943px 628px #FFF , 319px 146px #FFF , 1327px 317px #FFF , 1665px 1263px #FFF , 584px 1565px #FFF , 735px 1587px #FFF , 1765px 174px #FFF , 1750px 1057px #FFF , 1353px 950px #FFF , 938px 667px #FFF , 262px 450px #FFF , 1892px 1831px #FFF , 1912px 342px #FFF , 454px 728px #FFF , 1541px 445px #FFF , 1891px 330px #FFF , 2px 836px #FFF , 1239px 1837px #FFF , 228px 615px #FFF , 1983px 1028px #FFF , 1911px 1491px #FFF , 914px 1891px #FFF , 882px 1975px #FFF , 1302px 881px #FFF , 1644px 1724px #FFF , 716px 1979px #FFF , 1898px 1832px #FFF , 1369px 975px #FFF , 248px 728px #FFF , 1417px 269px #FFF , 1441px 288px #FFF , 249px 952px #FFF , 1375px 1547px #FFF , 1632px 660px #FFF , 67px 1570px #FFF , 1854px 830px #FFF , 1776px 240px #FFF , 835px 1938px #FFF , 382px 466px #FFF , 716px 1448px #FFF , 1799px 450px #FFF , 305px 1357px #FFF , 1649px 365px #FFF , 1931px 1352px #FFF , 1823px 1464px #FFF , 1864px 589px #FFF , 1070px 96px #FFF , 895px 1706px #FFF , 159px 394px #FFF , 373px 1148px #FFF , 435px 831px #FFF , 404px 1597px #FFF , 272px 1032px #FFF , 1150px 1110px #FFF , 1913px 1008px #FFF , 874px 948px #FFF , 1485px 1533px #FFF , 1218px 1395px #FFF , 1212px 1380px #FFF , 1678px 27px #FFF , 1196px 1898px #FFF , 530px 388px #FFF , 1248px 1311px #FFF , 1334px 1458px #FFF , 542px 689px #FFF , 969px 89px #FFF , 1615px 515px #FFF , 341px 106px #FFF , 1689px 668px #FFF , 6px 186px #FFF , 1081px 776px #FFF , 13px 732px #FFF , 1494px 1958px #FFF , 919px 1618px #FFF , 1507px 1173px #FFF , 163px 1630px #FFF , 1179px 1952px #FFF , 1140px 1846px #FFF , 1144px 1058px #FFF , 1981px 902px #FFF , 1549px 1140px #FFF , 74px 1162px #FFF , 1291px 544px #FFF , 202px 516px #FFF , 185px 213px #FFF , 1730px 1451px #FFF , 670px 1401px #FFF , 1051px 1748px #FFF , 57px 748px #FFF , 945px 196px #FFF , 582px 1617px #FFF , 995px 1896px #FFF , 1099px 1082px #FFF , 1708px 677px #FFF , 36px 1628px #FFF , 19px 1686px #FFF , 621px 631px #FFF , 517px 1562px #FFF , 1019px 1037px #FFF , 89px 663px #FFF , 1514px 471px #FFF , 714px 1433px #FFF , 1923px 1102px #FFF , 926px 373px #FFF , 1118px 1460px #FFF , 542px 753px #FFF , 1826px 1866px #FFF , 957px 1090px #FFF , 659px 93px #FFF , 91px 228px #FFF , 1368px 1351px #FFF , 1993px 13px #FFF , 693px 932px #FFF , 1039px 476px #FFF , 610px 386px #FFF , 1267px 1242px #FFF , 1416px 228px #FFF , 460px 367px #FFF , 1056px 238px #FFF , 555px 1114px #FFF , 981px 1063px #FFF , 1018px 816px #FFF , 1319px 724px #FFF , 1401px 830px #FFF , 1235px 1662px #FFF , 167px 547px #FFF , 293px 624px #FFF , 1350px 915px #FFF , 1389px 924px #FFF , 1711px 1123px #FFF , 783px 820px #FFF , 1069px 177px #FFF , 41px 576px #FFF , 178px 1273px #FFF , 1720px 203px #FFF , 718px 1581px #FFF , 71px 1136px #FFF , 1765px 1747px #FFF , 460px 1237px #FFF , 1630px 1960px #FFF , 880px 477px #FFF , 1108px 1375px #FFF , 1142px 1358px #FFF , 565px 1438px #FFF , 895px 1382px #FFF , 320px 1177px #FFF , 1131px 803px #FFF , 675px 1194px #FFF , 732px 997px #FFF , 1554px 596px #FFF , 704px 1734px #FFF , 815px 47px #FFF , 1772px 200px #FFF , 583px 19px #FFF , 1239px 3px #FFF , 476px 1294px #FFF , 1466px 90px #FFF , 1644px 551px #FFF , 191px 897px #FFF , 1576px 538px #FFF , 1176px 1769px #FFF , 291px 212px #FFF , 1242px 667px #FFF , 1433px 1036px #FFF , 1715px 1123px #FFF , 786px 725px #FFF , 1402px 830px #FFF , 1086px 630px #FFF , 1976px 604px #FFF , 575px 82px #FFF , 788px 825px #FFF , 118px 1644px #FFF , 1414px 294px #FFF , 122px 1065px #FFF , 558px 1336px #FFF , 1090px 1800px #FFF , 1711px 663px #FFF , 1471px 853px #FFF , 1759px 1173px #FFF , 1425px 1611px #FFF , 1041px 1206px #FFF , 171px 1320px #FFF , 1893px 1031px #FFF , 268px 394px #FFF , 815px 555px #FFF , 891px 322px #FFF , 1828px 276px #FFF , 1790px 1171px #FFF , 504px 1289px #FFF , 1996px 102px #FFF , 758px 1053px #FFF , 526px 865px #FFF , 1721px 333px #FFF , 51px 291px #FFF , 996px 798px #FFF , 1544px 1880px #FFF , 1992px 1012px #FFF , 1617px 21px #FFF , 1249px 885px #FFF , 715px 83px #FFF , 1237px 191px #FFF , 929px 1742px #FFF , 1033px 798px #FFF , 274px 658px #FFF , 10px 1009px #FFF , 399px 753px #FFF , 455px 1181px #FFF , 33px 161px #FFF , 402px 655px #FFF , 979px 1474px #FFF , 1801px 1025px #FFF , 1529px 1437px #FFF , 1769px 1332px #FFF , 1744px 745px #FFF , 470px 1886px #FFF , 446px 1916px #FFF , 1520px 1091px #FFF , 525px 1594px #FFF , 1466px 1022px #FFF , 1995px 1971px #FFF , 359px 1100px #FFF , 165px 144px #FFF , 1976px 1433px #FFF , 210px 146px #FFF , 604px 91px #FFF , 1814px 883px #FFF , 117px 454px #FFF , 229px 671px #FFF , 1413px 1300px #FFF , 1170px 527px #FFF , 1897px 1995px #FFF , 358px 160px #FFF , 586px 1462px #FFF , 1740px 1784px #FFF , 753px 1744px #FFF , 896px 605px #FFF , 1781px 218px #FFF , 1649px 1477px #FFF , 622px 1926px #FFF , 178px 841px #FFF , 102px 116px #FFF , 1232px 1842px #FFF , 1663px 911px #FFF , 882px 46px #FFF , 1813px 696px #FFF , 1575px 1192px #FFF , 1105px 460px #FFF , 42px 933px #FFF , 733px 329px #FFF , 1529px 1952px #FFF , 1778px 366px #FFF , 455px 1406px #FFF , 1028px 847px #FFF , 402px 715px #FFF , 73px 309px #FFF , 1715px 187px #FFF , 1912px 1723px #FFF , 1175px 1075px #FFF , 1063px 927px #FFF , 1277px 1597px #FFF , 1199px 109px #FFF , 1436px 1699px #FFF , 1221px 1013px #FFF , 1016px 497px #FFF , 21px 425px #FFF , 943px 1103px #FFF , 761px 670px #FFF , 1436px 1194px #FFF , 749px 898px #FFF , 1844px 108px #FFF , 1055px 648px #FFF , 1688px 1822px #FFF , 1529px 1467px #FFF , 1544px 1918px #FFF , 17px 609px #FFF , 1309px 115px #FFF , 934px 178px #FFF , 1639px 1395px #FFF , 1989px 1418px #FFF , 132px 916px #FFF , 1995px 1528px #FFF , 408px 59px #FFF , 1268px 457px #FFF , 1493px 1972px #FFF , 244px 1780px #FFF , 1491px 45px #FFF , 115px 1342px #FFF , 187px 1370px #FFF , 1582px 214px #FFF , 867px 1459px #FFF , 1752px 1217px #FFF , 372px 303px #FFF , 1429px 1896px #FFF , 1046px 1576px #FFF , 1334px 163px #FFF , 1864px 1231px #FFF , 1819px 588px #FFF , 1176px 591px #FFF , 1039px 1518px #FFF , 242px 1117px #FFF , 154px 774px #FFF , 179px 665px #FFF , 751px 1655px #FFF , 1547px 153px #FFF , 1491px 623px #FFF , 1211px 1825px #FFF , 160px 1162px #FFF , 472px 143px #FFF , 1038px 1986px #FFF , 1374px 56px #FFF , 232px 1786px #FFF , 271px 628px #FFF , 1801px 9px #FFF , 624px 191px #FFF , 697px 722px #FFF , 250px 1679px #FFF , 1443px 11px #FFF , 1659px 9px #FFF , 1286px 1957px #FFF , 1419px 1863px #FFF , 636px 361px #FFF , 1296px 974px #FFF , 1293px 194px #FFF , 1802px 1037px #FFF , 618px 1253px #FFF , 588px 291px #FFF , 668px 1799px #FFF , 791px 1162px #FFF , 1729px 1234px #FFF , 1003px 868px #FFF , 304px 1316px #FFF , 1578px 1400px #FFF , 1903px 1324px #FFF , 785px 754px #FFF , 1969px 793px #FFF , 274px 405px #FFF , 1821px 1716px #FFF , 804px 1477px #FFF , 1892px 1244px #FFF , 180px 180px #FFF , 215px 1244px #FFF , 347px 940px #FFF , 1434px 604px #FFF , 1271px 1709px #FFF , 1970px 1722px #FFF , 1386px 2px #FFF , 134px 673px #FFF , 230px 1079px #FFF , 1931px 295px #FFF , 1193px 601px #FFF , 1168px 1408px #FFF , 542px 1192px #FFF , 1991px 680px #FFF , 1453px 1150px #FFF , 227px 1477px #FFF , 46px 608px #FFF , 1607px 1780px #FFF , 1358px 1487px #FFF , 1688px 1074px #FFF , 1302px 184px #FFF , 76px 1921px #FFF , 467px 331px #FFF , 956px 1812px #FFF , 229px 1064px #FFF , 725px 180px #FFF , 1458px 1211px #FFF , 738px 56px #FFF , 1730px 1404px #FFF , 253px 601px #FFF , 60px 1044px #FFF , 1936px 162px #FFF , 505px 228px #FFF , 394px 179px #FFF , 918px 1493px #FFF , 505px 707px #FFF , 667px 8px #FFF , 978px 376px #FFF , 1910px 431px #FFF , 508px 1937px #FFF , 1962px 998px #FFF , 350px 333px #FFF , 1562px 1633px #FFF , 1997px 159px #FFF , 362px 1813px #FFF , 616px 1872px #FFF , 1712px 1677px #FFF , 230px 1130px #FFF , 448px 886px #FFF , 180px 1450px #FFF , 1618px 717px #FFF , 1600px 1327px #FFF , 1139px 1518px #FFF , 1890px 402px #FFF , 1133px 560px #FFF , 1037px 515px #FFF , 42px 1141px #FFF , 387px 1176px #FFF , 375px 1535px #FFF , 1110px 1117px #FFF , 511px 228px #FFF , 736px 181px #FFF , 125px 643px #FFF , 1842px 116px #FFF , 1816px 1395px #FFF , 1765px 640px #FFF , 489px 258px #FFF , 1084px 1414px #FFF , 1646px 1353px #FFF , 1434px 1649px #FFF , 741px 1117px #FFF , 1535px 508px #FFF , 1521px 395px #FFF , 30px 1316px #FFF , 1537px 374px #FFF , 1521px 1772px #FFF , 440px 1347px #FFF , 596px 1562px #FFF , 1887px 1001px #FFF , 562px 1408px #FFF , 89px 1251px #FFF , 1444px 883px #FFF , 857px 1495px #FFF , 1301px 1558px #FFF , 1898px 368px #FFF , 1281px 1120px #FFF , 1325px 1192px #FFF , 846px 443px #FFF , 811px 732px #FFF , 444px 1417px #FFF , 998px 71px #FFF , 259px 1846px #FFF , 1584px 3px #FFF , 263px 166px #FFF , 1361px 1528px #FFF , 159px 1599px #FFF , 99px 259px #FFF , 1704px 1801px #FFF , 1575px 1776px #FFF , 1249px 707px #FFF , 484px 17px #FFF , 224px 705px #FFF , 158px 1016px #FFF , 992px 1179px #FFF , 1844px 88px #FFF , 1789px 1502px #FFF , 1852px 1597px #FFF , 1778px 976px #FFF , 282px 8px #FFF , 1751px 568px #FFF , 1404px 1614px #FFF , 1518px 1742px #FFF , 1860px 1675px #FFF , 467px 1675px #FFF , 1174px 739px #FFF , 1270px 1853px #FFF , 1397px 154px #FFF , 755px 691px #FFF , 630px 590px #FFF , 1547px 960px #FFF , 541px 1532px #FFF , 1052px 1807px #FFF , 954px 906px #FFF , 1077px 1063px #FFF , 520px 916px #FFF , 1060px 1231px #FFF , 1602px 1989px #FFF , 105px 16px #FFF , 34px 1385px #FFF , 100px 456px #FFF , 583px 1245px #FFF , 553px 310px #FFF , 856px 1767px #FFF , 750px 1883px #FFF , 808px 1717px #FFF , 52px 958px #FFF , 1036px 1464px #FFF , 1534px 1994px #FFF , 1509px 301px #FFF , 1327px 956px #FFF , 1421px 493px #FFF , 1163px 603px #FFF , 590px 921px #FFF , 955px 1831px #FFF , 787px 1483px #FFF , 1193px 1172px #FFF , 1322px 95px #FFF , 1406px 125px #FFF , 1197px 1809px #FFF , 338px 1821px #FFF , 636px 1791px #FFF , 1840px 1313px #FFF , 1391px 141px #FFF , 322px 1160px #FFF , 1949px 1391px #FFF , 88px 547px #FFF , 1619px 1141px #FFF , 237px 1409px #FFF , 248px 1114px #FFF , 1695px 367px #FFF , 1872px 571px #FFF , 1421px 20px #FFF , 1429px 207px #FFF , 117px 1929px #FFF , 1494px 32px #FFF , 914px 91px #FFF , 1438px 1759px #FFF , 182px 265px #FFF , 1384px 1162px #FFF , 1129px 312px #FFF , 456px 406px #FFF , 1123px 213px #FFF , 1569px 1602px #FFF , 1732px 2px #FFF , 364px 1429px #FFF , 1428px 69px #FFF , 1925px 1647px #FFF , 471px 1598px #FFF , 177px 1329px #FFF , 1679px 501px #FFF , 593px 1854px #FFF , 1615px 1584px #FFF , 840px 484px #FFF , 1119px 1473px #FFF , 311px 1838px #FFF , 1860px 1994px #FFF , 20px 479px #FFF , 99px 1894px #FFF , 375px 273px #FFF , 1801px 949px #FFF , 1397px 455px #FFF , 114px 1800px #FFF , 916px 1494px #FFF , 1302px 1720px #FFF , 1317px 1086px #FFF , 1654px 297px #FFF;
  animation: animStar 50s linear infinite;
}

.section #stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1535px 240px #FFF , 96px 1710px #FFF , 1302px 838px #FFF , 1375px 1605px #FFF , 1756px 1078px #FFF , 1155px 1986px #FFF , 180px 1290px #FFF , 1795px 1607px #FFF , 1544px 1620px #FFF , 1978px 363px #FFF , 352px 1180px #FFF , 1085px 109px #FFF , 1759px 1996px #FFF , 1011px 877px #FFF , 1057px 1358px #FFF , 1120px 1351px #FFF , 1757px 1795px #FFF , 1137px 1624px #FFF , 374px 978px #FFF , 1309px 794px #FFF , 474px 1103px #FFF , 711px 1307px #FFF , 1460px 239px #FFF , 1017px 745px #FFF , 1468px 1829px #FFF , 1933px 28px #FFF , 1513px 1806px #FFF , 1763px 1154px #FFF , 1560px 1985px #FFF , 918px 1937px #FFF , 413px 74px #FFF , 513px 1133px #FFF , 1108px 1615px #FFF , 1633px 172px #FFF , 308px 1976px #FFF , 1433px 817px #FFF , 394px 1500px #FFF , 1414px 797px #FFF , 1466px 874px #FFF , 318px 514px #FFF , 1681px 1296px #FFF , 1126px 706px #FFF , 1293px 995px #FFF , 1246px 1528px #FFF , 1758px 429px #FFF , 1938px 599px #FFF , 1718px 606px #FFF , 1114px 900px #FFF , 482px 1251px #FFF , 97px 938px #FFF , 1247px 629px #FFF , 1533px 628px #FFF , 1131px 705px #FFF , 979px 57px #FFF , 283px 1083px #FFF , 944px 1243px #FFF , 1421px 370px #FFF , 1946px 240px #FFF , 1855px 579px #FFF , 1562px 602px #FFF , 1725px 406px #FFF , 1425px 1437px #FFF , 811px 279px #FFF , 1686px 1443px #FFF , 1586px 50px #FFF , 1684px 369px #FFF , 282px 86px #FFF , 567px 1500px #FFF , 124px 1727px #FFF , 1119px 909px #FFF , 630px 128px #FFF , 1003px 468px #FFF , 1887px 1127px #FFF , 1766px 1996px #FFF , 609px 1242px #FFF , 1529px 1826px #FFF , 1183px 1547px #FFF , 1414px 72px #FFF , 752px 1403px #FFF , 1628px 1381px #FFF , 1083px 915px #FFF , 1267px 1351px #FFF , 780px 1110px #FFF , 1534px 1216px #FFF , 1415px 1075px #FFF , 505px 1672px #FFF , 1013px 909px #FFF , 1755px 547px #FFF , 504px 1025px #FFF , 988px 27px #FFF , 1555px 472px #FFF , 20px 373px #FFF , 569px 1716px #FFF , 1149px 1048px #FFF , 515px 241px #FFF , 291px 634px #FFF , 617px 1312px #FFF , 1514px 1682px #FFF , 1663px 462px #FFF , 1283px 1460px #FFF , 1138px 1176px #FFF , 1804px 170px #FFF , 743px 838px #FFF , 1865px 936px #FFF , 1935px 1606px #FFF , 1538px 435px #FFF , 877px 950px #FFF , 997px 1917px #FFF , 1639px 1548px #FFF , 89px 143px #FFF , 756px 1561px #FFF , 1895px 763px #FFF , 391px 522px #FFF , 1472px 451px #FFF , 22px 908px #FFF , 723px 1256px #FFF , 775px 1081px #FFF , 783px 862px #FFF , 1062px 833px #FFF , 258px 1105px #FFF , 1601px 1404px #FFF , 1725px 1180px #FFF , 733px 471px #FFF , 641px 1056px #FFF , 1288px 1436px #FFF , 1289px 1035px #FFF , 1417px 978px #FFF , 1660px 327px #FFF , 1749px 1761px #FFF , 1487px 1035px #FFF , 1613px 633px #FFF , 1242px 1412px #FFF , 1257px 369px #FFF , 1663px 992px #FFF , 335px 942px #FFF , 253px 196px #FFF , 1312px 1609px #FFF , 843px 1504px #FFF , 1709px 1632px #FFF , 347px 348px #FFF , 914px 1009px #FFF , 1676px 580px #FFF , 691px 1591px #FFF , 661px 1697px #FFF , 281px 295px #FFF , 935px 173px #FFF , 682px 1648px #FFF , 685px 554px #FFF , 1681px 737px #FFF , 1597px 159px #FFF , 495px 1277px #FFF , 1421px 857px #FFF , 1630px 1049px #FFF , 998px 1794px #FFF , 1816px 891px #FFF , 1859px 1788px #FFF , 156px 1265px #FFF , 1724px 596px #FFF , 1819px 26px #FFF , 1797px 1618px #FFF , 79px 1053px #FFF , 719px 585px #FFF , 1433px 295px #FFF , 1449px 1495px #FFF , 830px 289px #FFF , 1943px 628px #FFF , 319px 146px #FFF , 1327px 317px #FFF , 1665px 1263px #FFF , 584px 1565px #FFF , 735px 1587px #FFF , 1765px 174px #FFF , 1750px 1057px #FFF , 1353px 950px #FFF , 938px 667px #FFF , 262px 450px #FFF , 1892px 1831px #FFF , 1912px 342px #FFF , 454px 728px #FFF , 1541px 445px #FFF , 1891px 330px #FFF , 2px 836px #FFF , 1239px 1837px #FFF , 228px 615px #FFF , 1983px 1028px #FFF , 1911px 1491px #FFF , 914px 1891px #FFF , 882px 1975px #FFF , 1302px 881px #FFF , 1644px 1724px #FFF , 716px 1979px #FFF , 1898px 1832px #FFF , 1369px 975px #FFF , 248px 728px #FFF , 1417px 269px #FFF , 1441px 288px #FFF , 249px 952px #FFF , 1375px 1547px #FFF , 1632px 660px #FFF , 67px 1570px #FFF , 1854px 830px #FFF , 1776px 240px #FFF , 835px 1938px #FFF , 382px 466px #FFF , 716px 1448px #FFF , 1799px 450px #FFF , 305px 1357px #FFF , 1649px 365px #FFF , 1931px 1352px #FFF , 1823px 1464px #FFF , 1864px 589px #FFF , 1070px 96px #FFF , 895px 1706px #FFF , 159px 394px #FFF , 373px 1148px #FFF , 435px 831px #FFF , 404px 1597px #FFF , 272px 1032px #FFF , 1150px 1110px #FFF , 1913px 1008px #FFF , 874px 948px #FFF , 1485px 1533px #FFF , 1218px 1395px #FFF , 1212px 1380px #FFF , 1678px 27px #FFF , 1196px 1898px #FFF , 530px 388px #FFF , 1248px 1311px #FFF , 1334px 1458px #FFF , 542px 689px #FFF , 969px 89px #FFF , 1615px 515px #FFF , 341px 106px #FFF , 1689px 668px #FFF , 6px 186px #FFF , 1081px 776px #FFF , 13px 732px #FFF , 1494px 1958px #FFF , 919px 1618px #FFF , 1507px 1173px #FFF , 163px 1630px #FFF , 1179px 1952px #FFF , 1140px 1846px #FFF , 1144px 1058px #FFF , 1981px 902px #FFF , 1549px 1140px #FFF , 74px 1162px #FFF , 1291px 544px #FFF , 202px 516px #FFF , 185px 213px #FFF , 1730px 1451px #FFF , 670px 1401px #FFF , 1051px 1748px #FFF , 57px 748px #FFF , 945px 196px #FFF , 582px 1617px #FFF , 995px 1896px #FFF , 1099px 1082px #FFF , 1708px 677px #FFF , 36px 1628px #FFF , 19px 1686px #FFF , 621px 631px #FFF , 517px 1562px #FFF , 1019px 1037px #FFF , 89px 663px #FFF , 1514px 471px #FFF , 714px 1433px #FFF , 1923px 1102px #FFF , 926px 373px #FFF , 1118px 1460px #FFF , 542px 753px #FFF , 1826px 1866px #FFF , 957px 1090px #FFF , 659px 93px #FFF , 91px 228px #FFF , 1368px 1351px #FFF , 1993px 13px #FFF , 693px 932px #FFF , 1039px 476px #FFF , 610px 386px #FFF , 1267px 1242px #FFF , 1416px 228px #FFF , 460px 367px #FFF , 1056px 238px #FFF , 555px 1114px #FFF , 981px 1063px #FFF , 1018px 816px #FFF , 1319px 724px #FFF , 1401px 830px #FFF , 1235px 1662px #FFF , 167px 547px #FFF , 293px 624px #FFF , 1350px 915px #FFF , 1389px 924px #FFF , 1711px 1123px #FFF , 783px 820px #FFF , 1069px 177px #FFF , 41px 576px #FFF , 178px 1273px #FFF , 1720px 203px #FFF , 718px 1581px #FFF , 71px 1136px #FFF , 1765px 1747px #FFF , 460px 1237px #FFF , 1630px 1960px #FFF , 880px 477px #FFF , 1108px 1375px #FFF , 1142px 1358px #FFF , 565px 1438px #FFF , 895px 1382px #FFF , 320px 1177px #FFF , 1131px 803px #FFF , 675px 1194px #FFF , 732px 997px #FFF , 1554px 596px #FFF , 704px 1734px #FFF , 815px 47px #FFF , 1772px 200px #FFF , 583px 19px #FFF , 1239px 3px #FFF , 476px 1294px #FFF , 1466px 90px #FFF , 1644px 551px #FFF , 191px 897px #FFF , 1576px 538px #FFF , 1176px 1769px #FFF , 291px 212px #FFF , 1242px 667px #FFF , 1433px 1036px #FFF , 1715px 1123px #FFF , 786px 725px #FFF , 1402px 830px #FFF , 1086px 630px #FFF , 1976px 604px #FFF , 575px 82px #FFF , 788px 825px #FFF , 118px 1644px #FFF , 1414px 294px #FFF , 122px 1065px #FFF , 558px 1336px #FFF , 1090px 1800px #FFF , 1711px 663px #FFF , 1471px 853px #FFF , 1759px 1173px #FFF , 1425px 1611px #FFF , 1041px 1206px #FFF , 171px 1320px #FFF , 1893px 1031px #FFF , 268px 394px #FFF , 815px 555px #FFF , 891px 322px #FFF , 1828px 276px #FFF , 1790px 1171px #FFF , 504px 1289px #FFF , 1996px 102px #FFF , 758px 1053px #FFF , 526px 865px #FFF , 1721px 333px #FFF , 51px 291px #FFF , 996px 798px #FFF , 1544px 1880px #FFF , 1992px 1012px #FFF , 1617px 21px #FFF , 1249px 885px #FFF , 715px 83px #FFF , 1237px 191px #FFF , 929px 1742px #FFF , 1033px 798px #FFF , 274px 658px #FFF , 10px 1009px #FFF , 399px 753px #FFF , 455px 1181px #FFF , 33px 161px #FFF , 402px 655px #FFF , 979px 1474px #FFF , 1801px 1025px #FFF , 1529px 1437px #FFF , 1769px 1332px #FFF , 1744px 745px #FFF , 470px 1886px #FFF , 446px 1916px #FFF , 1520px 1091px #FFF , 525px 1594px #FFF , 1466px 1022px #FFF , 1995px 1971px #FFF , 359px 1100px #FFF , 165px 144px #FFF , 1976px 1433px #FFF , 210px 146px #FFF , 604px 91px #FFF , 1814px 883px #FFF , 117px 454px #FFF , 229px 671px #FFF , 1413px 1300px #FFF , 1170px 527px #FFF , 1897px 1995px #FFF , 358px 160px #FFF , 586px 1462px #FFF , 1740px 1784px #FFF , 753px 1744px #FFF , 896px 605px #FFF , 1781px 218px #FFF , 1649px 1477px #FFF , 622px 1926px #FFF , 178px 841px #FFF , 102px 116px #FFF , 1232px 1842px #FFF , 1663px 911px #FFF , 882px 46px #FFF , 1813px 696px #FFF , 1575px 1192px #FFF , 1105px 460px #FFF , 42px 933px #FFF , 733px 329px #FFF , 1529px 1952px #FFF , 1778px 366px #FFF , 455px 1406px #FFF , 1028px 847px #FFF , 402px 715px #FFF , 73px 309px #FFF , 1715px 187px #FFF , 1912px 1723px #FFF , 1175px 1075px #FFF , 1063px 927px #FFF , 1277px 1597px #FFF , 1199px 109px #FFF , 1436px 1699px #FFF , 1221px 1013px #FFF , 1016px 497px #FFF , 21px 425px #FFF , 943px 1103px #FFF , 761px 670px #FFF , 1436px 1194px #FFF , 749px 898px #FFF , 1844px 108px #FFF , 1055px 648px #FFF , 1688px 1822px #FFF , 1529px 1467px #FFF , 1544px 1918px #FFF , 17px 609px #FFF , 1309px 115px #FFF , 934px 178px #FFF , 1639px 1395px #FFF , 1989px 1418px #FFF , 132px 916px #FFF , 1995px 1528px #FFF , 408px 59px #FFF , 1268px 457px #FFF , 1493px 1972px #FFF , 244px 1780px #FFF , 1491px 45px #FFF , 115px 1342px #FFF , 187px 1370px #FFF , 1582px 214px #FFF , 867px 1459px #FFF , 1752px 1217px #FFF , 372px 303px #FFF , 1429px 1896px #FFF , 1046px 1576px #FFF , 1334px 163px #FFF , 1864px 1231px #FFF , 1819px 588px #FFF , 1176px 591px #FFF , 1039px 1518px #FFF , 242px 1117px #FFF , 154px 774px #FFF , 179px 665px #FFF , 751px 1655px #FFF , 1547px 153px #FFF , 1491px 623px #FFF , 1211px 1825px #FFF , 160px 1162px #FFF , 472px 143px #FFF , 1038px 1986px #FFF , 1374px 56px #FFF , 232px 1786px #FFF , 271px 628px #FFF , 1801px 9px #FFF , 624px 191px #FFF , 697px 722px #FFF , 250px 1679px #FFF , 1443px 11px #FFF , 1659px 9px #FFF , 1286px 1957px #FFF , 1419px 1863px #FFF , 636px 361px #FFF , 1296px 974px #FFF , 1293px 194px #FFF , 1802px 1037px #FFF , 618px 1253px #FFF , 588px 291px #FFF , 668px 1799px #FFF , 791px 1162px #FFF , 1729px 1234px #FFF , 1003px 868px #FFF , 304px 1316px #FFF , 1578px 1400px #FFF , 1903px 1324px #FFF , 785px 754px #FFF , 1969px 793px #FFF , 274px 405px #FFF , 1821px 1716px #FFF , 804px 1477px #FFF , 1892px 1244px #FFF , 180px 180px #FFF , 215px 1244px #FFF , 347px 940px #FFF , 1434px 604px #FFF , 1271px 1709px #FFF , 1970px 1722px #FFF , 1386px 2px #FFF , 134px 673px #FFF , 230px 1079px #FFF , 1931px 295px #FFF , 1193px 601px #FFF , 1168px 1408px #FFF , 542px 1192px #FFF , 1991px 680px #FFF , 1453px 1150px #FFF , 227px 1477px #FFF , 46px 608px #FFF , 1607px 1780px #FFF , 1358px 1487px #FFF , 1688px 1074px #FFF , 1302px 184px #FFF , 76px 1921px #FFF , 467px 331px #FFF , 956px 1812px #FFF , 229px 1064px #FFF , 725px 180px #FFF , 1458px 1211px #FFF , 738px 56px #FFF , 1730px 1404px #FFF , 253px 601px #FFF , 60px 1044px #FFF , 1936px 162px #FFF , 505px 228px #FFF , 394px 179px #FFF , 918px 1493px #FFF , 505px 707px #FFF , 667px 8px #FFF , 978px 376px #FFF , 1910px 431px #FFF , 508px 1937px #FFF , 1962px 998px #FFF , 350px 333px #FFF , 1562px 1633px #FFF , 1997px 159px #FFF , 362px 1813px #FFF , 616px 1872px #FFF , 1712px 1677px #FFF , 230px 1130px #FFF , 448px 886px #FFF , 180px 1450px #FFF , 1618px 717px #FFF , 1600px 1327px #FFF , 1139px 1518px #FFF , 1890px 402px #FFF , 1133px 560px #FFF , 1037px 515px #FFF , 42px 1141px #FFF , 387px 1176px #FFF , 375px 1535px #FFF , 1110px 1117px #FFF , 511px 228px #FFF , 736px 181px #FFF , 125px 643px #FFF , 1842px 116px #FFF , 1816px 1395px #FFF , 1765px 640px #FFF , 489px 258px #FFF , 1084px 1414px #FFF , 1646px 1353px #FFF , 1434px 1649px #FFF , 741px 1117px #FFF , 1535px 508px #FFF , 1521px 395px #FFF , 30px 1316px #FFF , 1537px 374px #FFF , 1521px 1772px #FFF , 440px 1347px #FFF , 596px 1562px #FFF , 1887px 1001px #FFF , 562px 1408px #FFF , 89px 1251px #FFF , 1444px 883px #FFF , 857px 1495px #FFF , 1301px 1558px #FFF , 1898px 368px #FFF , 1281px 1120px #FFF , 1325px 1192px #FFF , 846px 443px #FFF , 811px 732px #FFF , 444px 1417px #FFF , 998px 71px #FFF , 259px 1846px #FFF , 1584px 3px #FFF , 263px 166px #FFF , 1361px 1528px #FFF , 159px 1599px #FFF , 99px 259px #FFF , 1704px 1801px #FFF , 1575px 1776px #FFF , 1249px 707px #FFF , 484px 17px #FFF , 224px 705px #FFF , 158px 1016px #FFF , 992px 1179px #FFF , 1844px 88px #FFF , 1789px 1502px #FFF , 1852px 1597px #FFF , 1778px 976px #FFF , 282px 8px #FFF , 1751px 568px #FFF , 1404px 1614px #FFF , 1518px 1742px #FFF , 1860px 1675px #FFF , 467px 1675px #FFF , 1174px 739px #FFF , 1270px 1853px #FFF , 1397px 154px #FFF , 755px 691px #FFF , 630px 590px #FFF , 1547px 960px #FFF , 541px 1532px #FFF , 1052px 1807px #FFF , 954px 906px #FFF , 1077px 1063px #FFF , 520px 916px #FFF , 1060px 1231px #FFF , 1602px 1989px #FFF , 105px 16px #FFF , 34px 1385px #FFF , 100px 456px #FFF , 583px 1245px #FFF , 553px 310px #FFF , 856px 1767px #FFF , 750px 1883px #FFF , 808px 1717px #FFF , 52px 958px #FFF , 1036px 1464px #FFF , 1534px 1994px #FFF , 1509px 301px #FFF , 1327px 956px #FFF , 1421px 493px #FFF , 1163px 603px #FFF , 590px 921px #FFF , 955px 1831px #FFF , 787px 1483px #FFF , 1193px 1172px #FFF , 1322px 95px #FFF , 1406px 125px #FFF , 1197px 1809px #FFF , 338px 1821px #FFF , 636px 1791px #FFF , 1840px 1313px #FFF , 1391px 141px #FFF , 322px 1160px #FFF , 1949px 1391px #FFF , 88px 547px #FFF , 1619px 1141px #FFF , 237px 1409px #FFF , 248px 1114px #FFF , 1695px 367px #FFF , 1872px 571px #FFF , 1421px 20px #FFF , 1429px 207px #FFF , 117px 1929px #FFF , 1494px 32px #FFF , 914px 91px #FFF , 1438px 1759px #FFF , 182px 265px #FFF , 1384px 1162px #FFF , 1129px 312px #FFF , 456px 406px #FFF , 1123px 213px #FFF , 1569px 1602px #FFF , 1732px 2px #FFF , 364px 1429px #FFF , 1428px 69px #FFF , 1925px 1647px #FFF , 471px 1598px #FFF , 177px 1329px #FFF , 1679px 501px #FFF , 593px 1854px #FFF , 1615px 1584px #FFF , 840px 484px #FFF , 1119px 1473px #FFF , 311px 1838px #FFF , 1860px 1994px #FFF , 20px 479px #FFF , 99px 1894px #FFF , 375px 273px #FFF , 1801px 949px #FFF , 1397px 455px #FFF , 114px 1800px #FFF , 916px 1494px #FFF , 1302px 1720px #FFF , 1317px 1086px #FFF , 1654px 297px #FFF;
}

.section #stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 379px 122px #FFF , 107px 1183px #FFF , 1652px 435px #FFF , 149px 1884px #FFF , 1132px 955px #FFF , 1826px 1989px #FFF , 112px 314px #FFF , 755px 922px #FFF , 1747px 1858px #FFF , 74px 1207px #FFF , 141px 500px #FFF , 1875px 561px #FFF , 149px 1751px #FFF , 1300px 417px #FFF , 81px 1563px #FFF , 719px 485px #FFF , 646px 509px #FFF , 1026px 370px #FFF , 1217px 784px #FFF , 573px 1710px #FFF , 1174px 572px #FFF , 1512px 352px #FFF , 1377px 256px #FFF , 1082px 1482px #FFF , 229px 1422px #FFF , 767px 1362px #FFF , 1876px 1389px #FFF , 208px 481px #FFF , 338px 604px #FFF , 1522px 734px #FFF , 379px 512px #FFF , 389px 17px #FFF , 75px 1018px #FFF , 700px 1344px #FFF , 530px 1613px #FFF , 556px 139px #FFF , 1921px 1462px #FFF , 345px 1977px #FFF , 1459px 768px #FFF , 461px 1792px #FFF , 706px 1896px #FFF , 655px 1281px #FFF , 528px 1853px #FFF , 1241px 1572px #FFF , 246px 1517px #FFF , 538px 1944px #FFF , 1091px 450px #FFF , 65px 306px #FFF , 1072px 1228px #FFF , 1053px 1038px #FFF , 1048px 750px #FFF , 616px 154px #FFF , 1589px 893px #FFF , 1592px 1328px #FFF , 1165px 1196px #FFF , 688px 5px #FFF , 412px 436px #FFF , 1334px 1874px #FFF , 364px 1580px #FFF , 191px 1037px #FFF , 718px 308px #FFF , 1512px 1479px #FFF , 713px 868px #FFF , 1929px 434px #FFF , 1854px 379px #FFF , 1431px 1573px #FFF , 419px 1912px #FFF , 1015px 376px #FFF , 1577px 454px #FFF , 1153px 1549px #FFF , 349px 155px #FFF , 1908px 1438px #FFF , 1509px 222px #FFF , 459px 1404px #FFF , 33px 1794px #FFF , 657px 615px #FFF , 1534px 315px #FFF , 1975px 883px #FFF , 1387px 1991px #FFF , 1180px 352px #FFF , 1936px 918px #FFF , 1922px 1329px #FFF , 687px 929px #FFF , 1423px 127px #FFF , 636px 1999px #FFF , 1155px 1717px #FFF , 1577px 1848px #FFF , 423px 682px #FFF , 1041px 1528px #FFF , 1323px 1081px #FFF , 1464px 1156px #FFF , 91px 1763px #FFF , 446px 980px #FFF , 504px 1799px #FFF , 1102px 1766px #FFF , 1054px 1017px #FFF , 1383px 1980px #FFF , 1478px 1348px #FFF , 377px 61px #FFF , 315px 617px #FFF , 172px 653px #FFF , 223px 1165px #FFF , 1831px 590px #FFF , 965px 160px #FFF , 563px 38px #FFF , 821px 1892px #FFF , 1308px 1462px #FFF , 137px 1082px #FFF , 221px 453px #FFF , 192px 1326px #FFF , 142px 1803px #FFF , 116px 1418px #FFF , 738px 533px #FFF , 1918px 820px #FFF , 589px 1369px #FFF , 542px 818px #FFF , 1482px 1113px #FFF , 233px 941px #FFF , 1290px 871px #FFF , 1369px 1890px #FFF , 1663px 18px #FFF , 510px 699px #FFF , 1797px 146px #FFF , 541px 872px #FFF , 743px 735px #FFF , 692px 488px #FFF , 1178px 873px #FFF , 39px 1319px #FFF , 1401px 1321px #FFF , 1234px 1770px #FFF , 1475px 888px #FFF , 1736px 206px #FFF , 1643px 1147px #FFF , 1186px 1511px #FFF , 1160px 1971px #FFF , 172px 1136px #FFF , 290px 1939px #FFF , 1341px 365px #FFF , 693px 358px #FFF , 799px 1070px #FFF , 186px 344px #FFF , 1027px 1468px #FFF , 1659px 659px #FFF , 784px 27px #FFF , 281px 289px #FFF , 1766px 1972px #FFF , 1589px 93px #FFF , 122px 1681px #FFF , 1192px 1986px #FFF , 54px 583px #FFF , 1302px 76px #FFF , 196px 1656px #FFF , 996px 301px #FFF , 301px 993px #FFF , 1481px 732px #FFF , 839px 1502px #FFF , 101px 1012px #FFF , 274px 132px #FFF , 831px 1755px #FFF , 1183px 1808px #FFF , 1651px 1575px #FFF , 165px 183px #FFF , 1858px 1732px #FFF , 1682px 540px #FFF , 1756px 1136px #FFF , 1681px 786px #FFF , 333px 1698px #FFF , 1014px 1361px #FFF , 730px 510px #FFF , 1267px 20px #FFF , 627px 1877px #FFF , 1497px 1113px #FFF , 23px 719px #FFF , 1148px 125px #FFF , 673px 1838px #FFF , 1606px 1117px #FFF , 1453px 335px #FFF , 157px 1976px #FFF , 1510px 296px #FFF , 1011px 525px #FFF , 1441px 813px #FFF , 547px 535px #FFF , 1057px 1123px #FFF , 755px 1727px #FFF , 1196px 1968px #FFF , 1292px 622px #FFF , 891px 908px #FFF , 1323px 1011px #FFF , 1252px 656px #FFF , 1268px 1658px #FFF , 565px 1945px #FFF , 1960px 596px #FFF , 1841px 287px #FFF , 1732px 94px #FFF , 758px 1742px #FFF , 1713px 493px #FFF , 376px 1065px #FFF , 365px 1759px #FFF , 1607px 1509px #FFF , 679px 1294px #FFF;
  animation: animStar 100s linear infinite;
}

.section #stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 379px 122px #FFF , 107px 1183px #FFF , 1652px 435px #FFF , 149px 1884px #FFF , 1132px 955px #FFF , 1826px 1989px #FFF , 112px 314px #FFF , 755px 922px #FFF , 1747px 1858px #FFF , 74px 1207px #FFF , 141px 500px #FFF , 1875px 561px #FFF , 149px 1751px #FFF , 1300px 417px #FFF , 81px 1563px #FFF , 719px 485px #FFF , 646px 509px #FFF , 1026px 370px #FFF , 1217px 784px #FFF , 573px 1710px #FFF , 1174px 572px #FFF , 1512px 352px #FFF , 1377px 256px #FFF , 1082px 1482px #FFF , 229px 1422px #FFF , 767px 1362px #FFF , 1876px 1389px #FFF , 208px 481px #FFF , 338px 604px #FFF , 1522px 734px #FFF , 379px 512px #FFF , 389px 17px #FFF , 75px 1018px #FFF , 700px 1344px #FFF , 530px 1613px #FFF , 556px 139px #FFF , 1921px 1462px #FFF , 345px 1977px #FFF , 1459px 768px #FFF , 461px 1792px #FFF , 706px 1896px #FFF , 655px 1281px #FFF , 528px 1853px #FFF , 1241px 1572px #FFF , 246px 1517px #FFF , 538px 1944px #FFF , 1091px 450px #FFF , 65px 306px #FFF , 1072px 1228px #FFF , 1053px 1038px #FFF , 1048px 750px #FFF , 616px 154px #FFF , 1589px 893px #FFF , 1592px 1328px #FFF , 1165px 1196px #FFF , 688px 5px #FFF , 412px 436px #FFF , 1334px 1874px #FFF , 364px 1580px #FFF , 191px 1037px #FFF , 718px 308px #FFF , 1512px 1479px #FFF , 713px 868px #FFF , 1929px 434px #FFF , 1854px 379px #FFF , 1431px 1573px #FFF , 419px 1912px #FFF , 1015px 376px #FFF , 1577px 454px #FFF , 1153px 1549px #FFF , 349px 155px #FFF , 1908px 1438px #FFF , 1509px 222px #FFF , 459px 1404px #FFF , 33px 1794px #FFF , 657px 615px #FFF , 1534px 315px #FFF , 1975px 883px #FFF , 1387px 1991px #FFF , 1180px 352px #FFF , 1936px 918px #FFF , 1922px 1329px #FFF , 687px 929px #FFF , 1423px 127px #FFF , 636px 1999px #FFF , 1155px 1717px #FFF , 1577px 1848px #FFF , 423px 682px #FFF , 1041px 1528px #FFF , 1323px 1081px #FFF , 1464px 1156px #FFF , 91px 1763px #FFF , 446px 980px #FFF , 504px 1799px #FFF , 1102px 1766px #FFF , 1054px 1017px #FFF , 1383px 1980px #FFF , 1478px 1348px #FFF , 377px 61px #FFF , 315px 617px #FFF , 172px 653px #FFF , 223px 1165px #FFF , 1831px 590px #FFF , 965px 160px #FFF , 563px 38px #FFF , 821px 1892px #FFF , 1308px 1462px #FFF , 137px 1082px #FFF , 221px 453px #FFF , 192px 1326px #FFF , 142px 1803px #FFF , 116px 1418px #FFF , 738px 533px #FFF , 1918px 820px #FFF , 589px 1369px #FFF , 542px 818px #FFF , 1482px 1113px #FFF , 233px 941px #FFF , 1290px 871px #FFF , 1369px 1890px #FFF , 1663px 18px #FFF , 510px 699px #FFF , 1797px 146px #FFF , 541px 872px #FFF , 743px 735px #FFF , 692px 488px #FFF , 1178px 873px #FFF , 39px 1319px #FFF , 1401px 1321px #FFF , 1234px 1770px #FFF , 1475px 888px #FFF , 1736px 206px #FFF , 1643px 1147px #FFF , 1186px 1511px #FFF , 1160px 1971px #FFF , 172px 1136px #FFF , 290px 1939px #FFF , 1341px 365px #FFF , 693px 358px #FFF , 799px 1070px #FFF , 186px 344px #FFF , 1027px 1468px #FFF , 1659px 659px #FFF , 784px 27px #FFF , 281px 289px #FFF , 1766px 1972px #FFF , 1589px 93px #FFF , 122px 1681px #FFF , 1192px 1986px #FFF , 54px 583px #FFF , 1302px 76px #FFF , 196px 1656px #FFF , 996px 301px #FFF , 301px 993px #FFF , 1481px 732px #FFF , 839px 1502px #FFF , 101px 1012px #FFF , 274px 132px #FFF , 831px 1755px #FFF , 1183px 1808px #FFF , 1651px 1575px #FFF , 165px 183px #FFF , 1858px 1732px #FFF , 1682px 540px #FFF , 1756px 1136px #FFF , 1681px 786px #FFF , 333px 1698px #FFF , 1014px 1361px #FFF , 730px 510px #FFF , 1267px 20px #FFF , 627px 1877px #FFF , 1497px 1113px #FFF , 23px 719px #FFF , 1148px 125px #FFF , 673px 1838px #FFF , 1606px 1117px #FFF , 1453px 335px #FFF , 157px 1976px #FFF , 1510px 296px #FFF , 1011px 525px #FFF , 1441px 813px #FFF , 547px 535px #FFF , 1057px 1123px #FFF , 755px 1727px #FFF , 1196px 1968px #FFF , 1292px 622px #FFF , 891px 908px #FFF , 1323px 1011px #FFF , 1252px 656px #FFF , 1268px 1658px #FFF , 565px 1945px #FFF , 1960px 596px #FFF , 1841px 287px #FFF , 1732px 94px #FFF , 758px 1742px #FFF , 1713px 493px #FFF , 376px 1065px #FFF , 365px 1759px #FFF , 1607px 1509px #FFF , 679px 1294px #FFF;
}

.section #stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 705px 1756px #FFF , 663px 929px #FFF , 1940px 385px #FFF , 1045px 1300px #FFF , 604px 1718px #FFF , 295px 373px #FFF , 589px 1278px #FFF , 936px 287px #FFF , 729px 12px #FFF , 709px 575px #FFF , 602px 788px #FFF , 557px 807px #FFF , 1448px 1002px #FFF , 1252px 416px #FFF , 1150px 1610px #FFF , 1112px 723px #FFF , 1002px 840px #FFF , 1413px 1029px #FFF , 1970px 1016px #FFF , 1524px 1566px #FFF , 323px 1345px #FFF , 105px 1661px #FFF , 1042px 951px #FFF , 932px 536px #FFF , 1170px 1443px #FFF , 1872px 605px #FFF , 1669px 102px #FFF , 1325px 157px #FFF , 326px 984px #FFF , 1838px 1509px #FFF , 599px 60px #FFF , 799px 1384px #FFF , 60px 719px #FFF , 168px 1961px #FFF , 56px 1144px #FFF , 1663px 1939px #FFF , 1460px 926px #FFF , 275px 1212px #FFF , 111px 1915px #FFF , 343px 188px #FFF , 201px 1596px #FFF , 1328px 1918px #FFF , 1017px 1517px #FFF , 1035px 147px #FFF , 1387px 1309px #FFF , 1562px 568px #FFF , 822px 672px #FFF , 470px 323px #FFF , 1869px 381px #FFF , 543px 716px #FFF , 281px 1518px #FFF , 67px 888px #FFF , 640px 1891px #FFF , 193px 1278px #FFF , 1938px 1240px #FFF , 1475px 141px #FFF , 1206px 1567px #FFF , 1684px 645px #FFF , 1716px 284px #FFF , 1334px 441px #FFF , 240px 1019px #FFF , 534px 1069px #FFF , 1432px 410px #FFF , 1640px 285px #FFF , 857px 497px #FFF , 1388px 944px #FFF , 940px 1557px #FFF , 133px 1345px #FFF , 1352px 880px #FFF , 346px 1584px #FFF , 1487px 18px #FFF , 721px 664px #FFF , 1674px 340px #FFF , 1819px 146px #FFF , 1975px 1003px #FFF , 1274px 1586px #FFF , 1831px 1079px #FFF , 683px 719px #FFF , 80px 1140px #FFF , 500px 1802px #FFF , 576px 1964px #FFF , 534px 1414px #FFF , 535px 127px #FFF , 1912px 1558px #FFF , 1126px 589px #FFF , 962px 1677px #FFF , 1639px 525px #FFF , 1589px 114px #FFF , 229px 1311px #FFF , 1212px 1884px #FFF , 870px 1069px #FFF , 54px 180px #FFF , 1311px 1671px #FFF , 1827px 477px #FFF , 1761px 712px #FFF , 1348px 1173px #FFF , 544px 1041px #FFF , 1592px 1540px #FFF , 719px 613px #FFF , 1448px 1962px #FFF;
  animation: animStar 150s linear infinite;
}

.section #stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  height: 3px;
  background: transparent;
  box-shadow: 705px 1756px #FFF , 663px 929px #FFF , 1940px 385px #FFF , 1045px 1300px #FFF , 604px 1718px #FFF , 295px 373px #FFF , 589px 1278px #FFF , 936px 287px #FFF , 729px 12px #FFF , 709px 575px #FFF , 602px 788px #FFF , 557px 807px #FFF , 1448px 1002px #FFF , 1252px 416px #FFF , 1150px 1610px #FFF , 1112px 723px #FFF , 1002px 840px #FFF , 1413px 1029px #FFF , 1970px 1016px #FFF , 1524px 1566px #FFF , 323px 1345px #FFF , 105px 1661px #FFF , 1042px 951px #FFF , 932px 536px #FFF , 1170px 1443px #FFF , 1872px 605px #FFF , 1669px 102px #FFF , 1325px 157px #FFF , 326px 984px #FFF , 1838px 1509px #FFF , 599px 60px #FFF , 799px 1384px #FFF , 60px 719px #FFF , 168px 1961px #FFF , 56px 1144px #FFF , 1663px 1939px #FFF , 1460px 926px #FFF , 275px 1212px #FFF , 111px 1915px #FFF , 343px 188px #FFF , 201px 1596px #FFF , 1328px 1918px #FFF , 1017px 1517px #FFF , 1035px 147px #FFF , 1387px 1309px #FFF , 1562px 568px #FFF , 822px 672px #FFF , 470px 323px #FFF , 1869px 381px #FFF , 543px 716px #FFF , 281px 1518px #FFF , 67px 888px #FFF , 640px 1891px #FFF , 193px 1278px #FFF , 1938px 1240px #FFF , 1475px 141px #FFF , 1206px 1567px #FFF , 1684px 645px #FFF , 1716px 284px #FFF , 1334px 441px #FFF , 240px 1019px #FFF , 534px 1069px #FFF , 1432px 410px #FFF , 1640px 285px #FFF , 857px 497px #FFF , 1388px 944px #FFF , 940px 1557px #FFF , 133px 1345px #FFF , 1352px 880px #FFF , 346px 1584px #FFF , 1487px 18px #FFF , 721px 664px #FFF , 1674px 340px #FFF , 1819px 146px #FFF , 1975px 1003px #FFF , 1274px 1586px #FFF , 1831px 1079px #FFF , 683px 719px #FFF , 80px 1140px #FFF , 500px 1802px #FFF , 576px 1964px #FFF , 534px 1414px #FFF , 535px 127px #FFF , 1912px 1558px #FFF , 1126px 589px #FFF , 962px 1677px #FFF , 1639px 525px #FFF , 1589px 114px #FFF , 229px 1311px #FFF , 1212px 1884px #FFF , 870px 1069px #FFF , 54px 180px #FFF , 1311px 1671px #FFF , 1827px 477px #FFF , 1761px 712px #FFF , 1348px 1173px #FFF , 544px 1041px #FFF , 1592px 1540px #FFF , 719px 613px #FFF , 1448px 1962px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.sec1 .about_txt_box h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.sec1 .about_txt_box .about_info {
  margin-bottom: 20px;
  font-size: 20px;
}

.sec1 .about_txt_box .about_txt_wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt_top {
  text-align: left;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt_top h4 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt3 {
  text-align: center;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt3 h4 {
  font-size: 24px;
  margin-bottom: 15px;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt3 .skill_box {
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 30px;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt3 .skill_box .skill1,
.sec1 .about_txt_box .about_txt_wrap .about_txt3 .skill_box .skill2 {
  display: flex;
}

.sec1 .about_txt_box .about_txt_wrap .about_txt3 .skill_box .skill1 p img,
.sec1 .about_txt_box .about_txt_wrap .about_txt3 .skill_box .skill2 p img {
  transform: scale(0.7);
}

.pc_m_area {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
}

.pc_m_area .pc_m_wrap {
  width: 40vw;
  display: flex;
}

.pc_m_area .pc_m_wrap .pc_img {
  width: 65%;
  height: 100%;
  background: url("./images/ddp_pc_img.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .mobile_img {
  width: 35%;
  height: 100%;
  background: url("./images/ddp_m_img.png") no-repeat center center;
  background-size: contain;
  transform: scale(0.6);
}

.pc_m_area .pc_m_wrap .behive_pc_img {
  background: url("./images/behive_pc_img.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .behive_m_img {
  background: url("./images/behive_m_img.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .kream_pc_img {
  background: url("./images/kreamPc.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .kream_m_img {
  background: url("./images/kreamMobile.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .gentle_pc_img {
  background: url("./images/gentlePc.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .pc_m_wrap .gentle_m_img {
  background: url("./images/gentleMobile.png") no-repeat center center;
  background-size: contain;
}

.pc_m_area .project_txt {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m_area {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
}

.m_area .m_wrap {
  width: 40vw;
  height: 50vh;
}

.m_area .m_wrap .m_img {
  width: 100%;
  height: 100%;
  background: url("./images/ddp_m_img.png") no-repeat center center;
  background-size: contain;
  transform: scale(0.6);
}

.m_area .m_wrap .bono_img {
  background: url("./images/bono_m_img.png") no-repeat center center;
  background-size: contain;
}

.m_area .m_wrap .pay_img {
  background: url("./images/cal1.png") no-repeat center center;
  background-size: contain;
}

.m_area .m_wrap .snake_img {
  background: url("./images/snake.png") no-repeat center center;
  background-size: contain;
}

.m_area .m_wrap .starbucks_pc_img {
  background: url("./images/starbucksPc.png") no-repeat center center;
  background-size: contain;
}

.m_area .m_txt {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_txt p,
.m_txt p {
  text-align: left;
  margin-bottom: 7px;
  width: 80%;
  margin-left: 10%;
}

.project_txt p .info_txt,
.m_txt p .info_txt {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.project_txt .link-box,
.m_txt .link-box {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 40px;
}

.project_txt .link-box .page-link,
.project_txt .link-box .made-link,
.m_txt .link-box .page-link,
.m_txt .link-box .made-link {
  display: block;
  font-size: 18px;
  width: 110px;
  height: 40px;
  background: #ebebeb;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #222;
}

.sec5 .contact_txt .contact_t {
  font-size: 24px;
  margin-bottom: 100px;
}

.sec5 .contact_txt .contact_t p:first-child {
  margin-bottom: 10px;
}

.sec5 .contact_txt .contact_b {
  font-size: 20px;
  padding-top: 50px;
}

.sec5 .contact_txt .contact_b h4 {
  font-size: 22px;
  margin-bottom: 15px;
}

.sec5 .contact_txt .contact_b p {
  margin-bottom: 10px;
}

.about_txt1,
.about_txt2 {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) and (min-width: 710px) {
  .info_txt {
    font-size: 24px !important;
  }
  .project_txt p,
  .m_txt p {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 709px) {
  .info_txt {
    font-size: 18px !important;
  }
  .project_txt p,
  .m_txt p {
    font-size: 12px !important;
  }
  .pc_m_area,
  .m_area {
    flex-direction: column;
    justify-content: center;
  }
  .pc_m_area .pc_m_wrap {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
  }
  .pc_m_area .pc_m_wrap .pc_img {
    width: 45%;
    height: 150%;
  }
  .pc_m_area .pc_m_wrap .mobile_img {
    width: 25%;
    height: 150%;
  }
  .m_area .m_wrap {
    width: 100%;
    height: 50vh;
  }
  .pc_m_area .project_txt,
  .m_area .m_txt {
    width: 100%;
  }
  #menu a {
    font-size: 18px;
  }
  .main_header .gnb ul li {
    width: 0;
  }
  li:nth-child(2).active a::before,
  li:nth-child(3).active a::before,
  li:nth-child(4).active a::before,
  li:nth-child(5).active a::before,
  li:nth-child(6).active a::before {
    right: -80px !important;
  }
  .contact_txt .contact_t {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 820px) {
  .section h2 {
    top: 5%;
    font-size: 28px;
  }
  .sec1 .about_txt_box h3 {
    font-size: 20px;
  }
  .about_info p {
    font-size: 16px;
  }
  .about_txt1 h4,
  .about_txt2 h4 {
    font-size: 20px !important;
    margin-bottom: 6px !important;
  }
  .about_txt1 p,
  .about_txt2 p {
    font-size: 16px;
  }
  .txt-info1,
  .txt-info2 {
    text-align: center;
  }
  .about_txt_top {
    flex-direction: column;
    justify-content: center;
  }
  .about_txt1,
  .about_txt2 {
    justify-content: center;
  }
  .skill1 p img,
  .skill2 p img {
    width: 100%;
  }
  .sec1 .about_txt_box .about_txt_wrap .about_txt_top {
    gap: 10px;
  }
  .sec1 .about_txt_box .about_txt_wrap {
    gap: 20px !important;
  }
  .skill_box {
    flex-direction: column;
    justify-content: center;
    gap: 0 !important;
  }
  .skill_box .skill1,
  .skill_box .skill2 {
    justify-content: center;
    gap: 0 7px;
  }
  .skill_box .skill1 p,
  .skill_box .skill2 p {
    font-size: 15px;
    width: 70px;
  }
}

@media screen and (max-width: 530px) {
  .about_txt_box h3 {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
  .about_info p {
    font-size: 12px;
  }
  .contact_txt .contact_t {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 420px) {
  .about_txt_box h3 {
    font-size: 16px !important;
    margin-bottom: 10px !important;
    text-align: right;
    margin-right: 10px;
  }
  .about_info p {
    text-align: right;
    margin-right: 10px;
  }
  .contact_txt .contact_t {
    font-size: 12px !important;
  }
}
